{% extends 'base.html' %}

{% block header %}
    <div class="col-sm-6">
        <a class="btn btn-success float-sm-right" href="{% url "profiles:"|add:group_url|add:"_create" %}">
            <i class="fas fa-plus"></i> Add
        </a>
    </div>
{% endblock %}
    {% block content %}

        <!-- Main content -->
        <div class="content">
            <div class="container-fluid">
                <div class="card">
                    <div class="card-body">
                        <table id="tower_list" class="table">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Users</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {%  for group in groups %}
                                <tr>
                                    <td class="align-middle">{{ group.name }}</td>
                                    <td class="align-middle">
                                        <a href="{% url "profiles:user_by_"|add:group_url|add:"_list" group.id %}" class="btn btn-default bg-sm">
                                            {{ group.user_set.all | length }}
                                        </a>
                                    </td>
                                    <td class="align-middle">
                                        <a href="{% url "profiles:"|add:group_url|add:"_edit" group.id %}" class="btn btn-primary bg-sm">
                                            <i class="fas fa-edit"></i> Edit
                                        </a>
                                        <a href="{% url "profiles:"|add:group_url|add:"_delete" group.id %}" class="btn btn-danger bg-sm">
                                            <i class="fas fa-trash"></i> Delete
                                        </a>
                                    </td>
                                </tr>
                            {%  endfor %}
                            </tbody>
                        </table>
                    </div>

                </div><!-- end container fluid -->
            </div>
        </div>
{% endblock %}
