{% extends 'base.html' %}

{% block header %}
<div class="col-sm-6">
    <a class="btn btn-info float-sm-right" href="{% url "profiles:user_in_"|add:group_url|add:"_update" group.id %}">
        <i class="fas fa-user-edit"></i> Manage users
    </a>
</div>
{% endblock %}

{% block content %}

        <!-- Main content -->
        <div class="content">
            <div class="container-fluid">
                <div class="card">
                    <div class="card-body">
                        <table id="tower_list" class="table">
                            <thead>
                            <tr>
                                <th>Username</th>
                                <th>E-mail</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            {%  for user in group.user_set.all %}
                                <tr>
                                    <td class="align-middle">{{ user.username }}</td>
                                    <td class="align-middle">{{ user.email }}</td>
                                    <td class="align-middle">
                                        <a href="{% url "profiles:user_in_"|add:group_url|add:"_remove" group.id user.id %}" class="btn btn-danger bg-sm">
                                            <i class="fas fa-trash"></i> Remove
                                        </a>
                                    </td>
                                </tr>
                            {%  endfor %}
                            </tbody>
                        </table>
                    </div>
                </div><!-- end container fluid -->
            </div>
        </div>
{% endblock %}
