{% extends 'base.html' %}

{% block content %}
    <div class="content-wrapper" style="min-height: 278px;">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        {% include "generics/breadcrumbs.html" %}
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->
        <!-- Main content -->
        <div class="content">
            <div class="container-fluid">
                <div class="card card-danger">
                    <div class="card-header">
                        <h3 class="card-title">Confirm deletion of the resource group <strong>{{ resource_group.name }}</strong></h3>
                    </div>
                    <div class="card-body">
                        {%  if resource_group.resources.all.count == 0 %}
                            No resources present in the resource group. Can be safely deleted.
                        {% else %}
                            The deletion of this resource group will drive to the deletion of the following resources:

                            {% for resource in resource_group.resources.all %}
                                <li>{{ resource.name }}</li>
                            {% endfor %}
                        {% endif %}


                        <form class="form-horizontal" action="{% url 'resource_tracker:resource_group_delete' resource_group.id %}" method="post">{% csrf_token %}
                            <!-- validate button -->
                            <button class="btn btn-danger" type="submit">
                                <i class="fas fa-trash"></i>
                                Delete
                            </button>
                        </form>

                    </div>

                </div><!-- end container fluid -->
            </div>
        </div>
    </div>
{% endblock %}
