{% extends 'base.html' %}

{% block content %}
    <!-- Main content -->
    <div class="content-wrapper">
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Resource groups</h1>
                    </div>
                    <div class="col-sm-6">
                        <a class="btn btn-success float-sm-right" href="{% url 'resource_group_create' %}">
                            <i class="fas fa-plus"></i> Add
                        </a>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>
        <div class="content">
            <div class="container-fluid">
                <div class="card">

                    <div class="card-body">
                        <table id="resource_group_list" class="table">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Attributes</th>
                                <th>Resources</th>
                                <th>Operations</th>
                            </tr>
                            </thead>
                            <tbody>
                            {%  for resource_group in resource_groups %}
                                <tr>
                                    <td class="align-middle">{{ resource_group.name }}</td>
                                    <td class="align-middle">
                                        <a href="{% url 'resource_group_attribute_list' resource_group.id %}" class="btn btn-default bg-sm">
                                            {{ resource_group.attribute_definitions.all | length }}
                                        </a>
                                    </td>
                                    <td class="align-middle">
                                        <a href="{% url 'resource_group_resource_list' resource_group.id %}" class="btn btn-default bg-sm">
                                            {{ resource_group.resources.all | length }}
                                        </a>
                                    </td>
                                    <td class="align-middle">
                                        <a href="{% url 'resource_group_edit' resource_group.id %}" class="btn btn-primary bg-sm">
                                            <i class="fas fa-edit"></i> Edit
                                        </a>
                                        <a href="{% url 'resource_group_delete' resource_group.id %}" class="btn btn-danger bg-sm">
                                            <i class="fas fa-trash"></i> Delete
                                        </a>
                                    </td>
                                </tr>

                            {%  endfor %}
                            </tbody>
                        </table>
                    </div>

                </div><!-- end container fluid -->
            </div>
        </div>
    </div>
{% endblock %}
