{% extends 'base.html' %}
{% block title %}
 {{ resource_group.name }} | Resource group
{%  endblock %}
{% load render_table from django_tables2 %}
{% block header_button %}
    <a class="btn btn-danger float-right mr-1"
       href="{% url 'resource_tracker:resource_group_delete' resource_group_id=resource_group.id %}">
        <i class="fas fa-trash"></i>
    </a>
    <a class="btn btn-primary float-right mr-1"
       href="{% url 'resource_tracker:resource_group_resource_list' resource_group.id %}">
        Resources
        <span class="badge badge-light">{{ resource_group.resources.all|length }}</span>
    </a>
{% endblock %}
{% block main %}
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                {% include "generics/form_edit.html" %}
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title"><strong>Computable attributes</strong></h3>
                        <div class="card-tools">
                            <a href="{% url 'resource_tracker:resource_group_attribute_create' resource_group.id %}"
                               class="btn btn-success btn-sm">
                                <i class="fas fa-plus"></i> Add computable attribute
                            </a>
                        </div>
                    </div>
                    <div class="card-body">
                        {% with parent_id=resource_group.id %}
                            {% render_table attribute_table %}
                        {% endwith %}
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title"><strong>Text attributes</strong></h3>
                        <div class="card-tools">
                            <a href="{% url 'resource_tracker:resource_group_text_attribute_create' resource_group.id %}"
                               class="btn btn-success btn-sm">
                                <i class="fas fa-plus"></i> Add text attribute
                            </a>
                        </div>
                    </div>
                    <div class="card-body">
                        {% with parent_id=resource_group.id %}
                            {% render_table text_attribute_table %}
                        {% endwith %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
