{% extends 'base.html' %}

{% block main %}
    {% load static %}
    {% has_perm request.user "auth.list_user" as can_list_user %}
    {% has_perm request.user "service_catalog.list_instance" as can_list_instance %}
    {% has_perm request.user "service_catalog.list_request" as can_list_request %}
    {% has_perm request.user "service_catalog.list_support" as can_list_support %}
    {% has_perm request.user "service_catalog.list_service" as can_list_service %}
    <div class="container-fluid">
        {% for announcement in announcements %}
            <div class="row">
                <div class="col-lg col">
                    <div class="alert alert-{{ announcement.type|lower }} alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h4><i class="icon {{ announcement.type|map_color_to_icon }}"></i> {{ announcement.title }}</h4>
                        {{ announcement.message | safe }}
                    </div>
                </div>
            </div>
        {% endfor %}
        <div class="row justify-content-center">
            {% if can_list_request %}
                <div class="mt-2 col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                    <div class="h-100 small-box d-flex flex-column bg-info">
                        <!-- small card -->
                        <div class="inner flex-grow-1">
                            <h3>{{ total_request }}</h3>
                            <p>Submitted requests</p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-shopping-cart"></i>
                        </div>
                        <a href="{% url 'service_catalog:request_list' %}?state=SUBMITTED"
                           class="small-box-footer">
                            More info <i class="fas fa-arrow-circle-right"></i>
                        </a>
                    </div>

                </div>
            {% endif %}

            {% if can_list_instance %}
                <div class="mt-2 col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                    <!-- small card -->
                    <div class="h-100 small-box d-flex flex-column bg-success">
                        <div class="inner flex-grow-1">
                            <h3>{{ total_instance }}</h3>
                            <p>Available instances</p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-th"></i>
                        </div>
                        <a href="{% url 'service_catalog:instance_list' %}?state=AVAILABLE"
                           class="small-box-footer">
                            More info <i class="fas fa-arrow-circle-right"></i>
                        </a>
                    </div>
                </div>
            {% endif %}
            {% if can_list_support %}
                <div class="mt-2 col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                    <!-- small card -->
                    <div class="h-100 small-box d-flex flex-column bg-warning">
                        <div class="inner flex-grow-1">
                            <h3>{{ total_support_opened }}</h3>
                            <p>Opened supports</p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-medkit"></i>
                        </div>
                        <a href="{% url 'service_catalog:support_list' %}?state=OPENED"
                           class="small-box-footer">
                            More info <i class="fas fa-arrow-circle-right"></i>
                        </a>
                    </div>
                </div>
            {% endif %}
            {% if can_list_user %}
                <div class="mt-2 col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                    <!-- small card -->
                    <div class="h-100 small-box d-flex flex-column bg-default">
                        <div class="inner flex-grow-1">
                            <h3>{{ total_user }}</h3>
                            <p>Users</p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-user-plus"></i>
                        </div>
                        <a href="{% url 'profiles:user_list' %}" class="small-box-footer">
                            More info <i class="fas fa-arrow-circle-right"></i>
                        </a>
                    </div>
                </div>
            {% endif %}
            {% if can_list_user %}
                <div class="mt-2 col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                    <!-- small card -->
                    <div class="h-100 small-box d-flex flex-column bg-pink">
                        <div class="inner flex-grow-1">
                            <h3>{{ user_without_organization }}</h3>
                            <p>Users without organization</p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-users-slash"></i>
                        </div>
                        <a href="{% url 'profiles:user_list' %}?no_organization=on" class="small-box-footer">
                            More info <i class="fas fa-arrow-circle-right"></i>
                        </a>
                    </div>
                </div>
            {% endif %}
        </div>

        {% if can_list_service %}
            <div class="row mt-4 justify-content-center">
                <div class="card ml-2">

                    <div class="card-body p-0">
                        <div class="table-responsive">
                            <table class="table w-auto">
                                <thead>
                                <tr>
                                    <th class="text-center"></th>
                                    <th class="text-center">Service</th>
                                    <th class="text-center">Submitted</th>
                                    <th class="text-center">Accepted</th>
                                    <th class="text-center">Need info</th>
                                    <th class="text-center">Failed</th>
                                    {% if can_list_support %}
                                        <th class="text-center">Supports</th>
                                    {% endif %}
                                </tr>
                                </thead>
                                <tbody>
                                {% for service in service_details.values %}

                                    <tr>
                                        <td class="align-middle text-center">
                                            <img src="{% if service.service.image %}{{ service.service.image.url }}{% else %}{% static '/squest/img/no_image.png' %}{% endif %}"
                                                 alt="Illustration for {{ service.service.name }}"
                                                 class="img-circle img-size-32 mr-2">
                                        </td>
                                        <td class="align-middle text-center">
                                            <a href="{{ service.service.get_absolute_url }}">
                                                {{ service.service.name }}
                                            </a>
                                        </td>


                                        </td>
                                        <td class="align-middle text-center">
                                            {% if service.submitted_requests %}
                                                <a href="{% url 'service_catalog:request_list' %}?state=SUBMITTED&instance__service__id={{ service.service.id }}"
                                                   class="btn btn-info bg-sm">{{ service.submitted_requests }}
                                                </a>
                                            {% endif %}
                                        </td>
                                        <td class="align-middle text-center">
                                            {% if service.accepted_requests %}
                                                <a href="{% url 'service_catalog:request_list' %}?&state=ACCEPTED&instance__service__id={{ service.service.id }}"
                                                   class="btn btn-primary bg-sm">{{ service.accepted_requests }}
                                                </a>
                                            {% endif %}
                                        </td>
                                        <td class="align-middle text-center">
                                            {% if service.need_info_requests %}
                                                <a href="{% url 'service_catalog:request_list' %}?state=NEED_INFO&instance__service__id={{ service.service.id }}"
                                                   class="btn btn-default bg-sm">{{ service.need_info_requests }}
                                                </a>
                                            {% endif %}
                                        </td>
                                        <td class="align-middle text-center">
                                            {% if service.failed_requests %}
                                                <a href="{% url 'service_catalog:request_list' %}?state=FAILED&instance__service__id={{ service.service.id }}"
                                                   class="btn btn-danger bg-sm">{{ service.failed_requests }}
                                                </a>
                                            {% endif %}
                                        </td>
                                        {% if can_list_support %}
                                            <td class="align-middle text-center">
                                            {% if service.opened_supports %}
                                                <a href="{% url 'service_catalog:support_list' %}?state=OPENED&instance__service={{ service.service.id }}"
                                                   class="btn btn-warning bg-sm">{{ service.opened_supports }}
                                                </a>
                                            {% endif %}
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
