{% extends 'base.html' %}

{% block content %}
    <!-- Main content -->
    <div class="content-wrapper">
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Resource Tracker Graph</h1>
                    </div>
                    <div class="col-sm-6">
                        <div class="float-sm-right">
                            <a class="btn btn-success" href="{% url 'resource_tracker:resource_pool_create' %}">
                                <i class="fas fa-plus"></i> New resource pool
                            </a>
                            <a class="btn btn-success" href="{% url 'resource_tracker:resource_group_create' %}">
                                <i class="fas fa-plus"></i> New resource group
                            </a>
                        </div>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card collapsed-card float-sm-right">
                            <div class="card-header">
                                <h3 class="card-title"><i class="fas fa-search"></i> Filter</h3>
                                <div class="card-tools">
                                    <!-- Collapse Button -->
                                    <button type="button" class="btn btn-tool" data-card-widget="collapse"><i
                                            class="fas fa-plus"></i></button>
                                </div>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <form method="get">
                                    {{ resource_graph.form.as_p }}
                                    <button class="btn btn-primary" type="submit">Apply</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        {% if display_graph %}
                            {{ svg }}
                        {% else %}
                            Nothing to display
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $('body').css({'background-color': '#F4F6F9'});
        });
    </script>
{% endblock %}
