{% extends 'base.html' %}
{% block title %}
 {{ attribute.name }} | Group attributes
{%  endblock %}
{% block content %}
    <div class="content-wrapper" style="min-height: 278px;">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        {% include "generics/breadcrumbs.html" %}
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->
        <!-- Main content -->
        <div class="content">
            <div class="container-fluid">
                <div class="card">
                    <div class="card-body">
                        <form action='{% url "resource_tracker:resource_group_"|add:attribute_type|add:"_delete" resource_group_id=resource_group.id attribute_id=attribute.id %}' method='POST'>{% csrf_token %}
                            <p>Do you want to delete the attribute definition "{{ attribute.name }}"?</p>
                            <button type="submit" class="btn btn-danger">Delete</button>
                            <a class="btn btn-default" href="{% url 'resource_tracker:resource_group_edit' resource_group.id %}">Cancel</a>
                        </form>
                    </div>
                </div><!-- end container fluid -->
            </div>
        </div>
    </div>
{% endblock %}
