{% extends 'base.html' %}

{% block content %}
    <div class="content-wrapper" style="min-height: 278px;">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0">Tower</h1>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->
        <!-- Main content -->
        <div class="content">
            <div class="container-fluid">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Tower servers</h3>
                        <div class="card-tools">
                            <a class="btn btn-success bg-sm" href="{% url 'add_tower' %}">
                                <i class="fas fa-plus"></i>
                            </a>
                        </div>
                    </div>
                    <div class="card-body">
                        <table id="tower_list" class="table">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Host</th>
                                <th>Job templates</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {%  for tower_server in tower_servers %}
                                <tr>
                                    <td>{{ tower_server.name }}</td>
                                    <td><a href="{% if tower_server.secure %}https://{% else %}http://{%  endif %}{{ tower_server.url }}">
                                        {% if tower_server.secure %}https://{% else %}http://{%  endif %}{{ tower_server.host }}
                                    </a></td>
                                    <td>
                                        <a href="{% url 'tower_job_templates' tower_server.id %}">
                                            {{ tower_server.jobtemplate_set.all | length }}
                                        </a>
                                    </td>
                                    <td>
                                        <a id="tower_{{ tower_server.id }}" onclick="sync_tower({{ tower_server.id }})" role="button" class="btn btn-default bg-sm">
                                            <i class="fas fa-sync"></i>
                                        </a>
                                        <a class="btn btn-primary bg-sm">
                                            <i class="fas fa-edit"></i>
                                        </a>
                                        <a href="{% url 'delete_tower' tower_server.id %}" class="btn btn-danger bg-sm">
                                            <i class="fas fa-trash"></i>
                                        </a>
                                    </td>

                                </tr>
                            {%  endfor %}
                            </tbody>
                        </table>
                    </div>

                </div><!-- end container fluid -->
            </div>
        </div>
    </div>
{% endblock %}
