{% extends 'base.html' %}

{% block content %}
    <div class="content-wrapper" style="min-height: 278px;">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Global hooks</h1>
                    </div>
                    <div class="col-sm-6">
                        <a class="btn btn-success float-sm-right" href="{% url 'service_catalog:global_hook_create' %}">
                            <i class="fas fa-plus"></i> Add hook
                        </a>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->
        <!-- Main content -->
        <div class="content">
            <div class="container-fluid">
                <div class="card">
                    <div class="card-body">
                        <table id="service_list" class="table">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Model</th>
                                <th>State</th>
                                <th>Job template</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {%  for global_hook in global_hooks %}
                                <tr>
                                    <td class="align-middle">{{ global_hook.name }}</td>
                                    <td class="align-middle">{{ global_hook.model }}</td>
                                    <td style="width: 10%" class="align-middle">
                                        <h4>
                                            <span class="badge bg-{{ global_hook.state |map_request_state }} btn-block">{{ global_hook.state }}</span>
                                        </h4>
                                    </td>
                                    <td class="align-middle">{{ global_hook.job_template }}</td>
                                    <td class="align-middle">
                                        <a href="{% url 'service_catalog:global_hook_edit' global_hook.id %}" class="btn btn-default bg-sm">
                                            <i class="fas fa-edit"></i> Edit
                                        </a>
                                        <a href="" class="btn btn-danger bg-sm">
                                            <i class="fas fa-trash"></i> Delete
                                        </a>
                                    </td>
                                </tr>
                            {%  endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
