{% extends 'base.html' %}

{% block content %}

    <!-- Main content -->

        <div class="content">
            <div class="container-fluid">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title"><i class="fas fa-wrench"></i> Operation: {{ operation.name }}</h3>
                    </div>
                    <div class="card-body">
                        {% if form.errors %}
                            <div class="alert alert-danger" role="alert">
                                {% for field in form %}
                                    {% if field.errors %}
                                        <li><strong>{{ field.label }}:</strong> {{ field.errors|striptags }}</li>
                                    {% endif %}
                                {% endfor %}
                                {% if form.non_field_errors %}
                                    {{ form.non_field_errors }}
                                {% endif %}
                            </div>
                        {% endif %}
                        <form class="form-horizontal" action="{% url 'service_catalog:customer_instance_request_new_operation' instance_id=instance.id operation_id=operation.id %}" method="post">{% csrf_token %}

                            {% for field in form %}
                                <div class="form-group {% if field.errors %}has-error{% endif %}">
                                    <label for="{{field.name}}" class="col-sm-2 control-label">
                                        {{ field.label }}
                                    </label>
                                    <div class="col-sm-4">
                                        {{ field }}
                                        {% if field.help_text %}
                                            <small id="emailHelp" class="form-text text-muted">{{ field.help_text|safe }}</small>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endfor %}

                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <!-- validate button -->
                                    <button class="btn btn-success" type="submit">
                                        <i class="nav-icon fas fa-shopping-cart"></i>
                                        Request the operation
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>

                </div><!-- end container fluid -->
            </div>
        </div>
{% endblock %}
