{% extends 'base.html' %}
{% load resource_filters %}

{% block header_button %}
    <a class="btn btn-default float-right ml-1" data-widget="control-sidebar">
        <i class="fas fa-sliders-h"></i>
    </a>
    <a class="btn btn-success float-sm-right ml-1"
       href="{% url 'resource_tracker:resource_pool_create' %}">
        <i class="fas fa-plus"></i> New resource pool
    </a>
    <a class="btn btn-default float-sm-right"
       href="{% url 'resource_tracker:resource_pool_list' %}">
        <i class="fas fa-list"></i> Classic view
    </a>
{% endblock %}

{% block main %}
    <div class="content">
        <div class="row">
            <div class="col-12 connectedSortable ui-sortable">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title"><strong>Pools</strong></h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="table-responsive">
                                    <table id="pool_table" class="table table-sm" >
                                        <thead>
                                        <tr>
                                            <th>Pool name</th>
                                            {% for attribute_name in list_attribute_name %}
                                                <th>{{ attribute_name }} produced</th>
                                                <th>{{ attribute_name }} p-factor</th>
                                                <th>{{ attribute_name }} consumed</th>
                                                <th>{{ attribute_name }} c-factor</th>
                                                <th>{{ attribute_name }} available</th>
                                            {% endfor %}
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for pool in resource_pool_list %}
                                            <tr>
                                                <td>{{ pool.pool_name }}</td>
                                                {% for attribute in pool.list_attribute %}
                                                    <td>{{ attribute.produced }}</td> {# produce #}
                                                    <td>{{ attribute.p_factor }}</td> {# factor #}
                                                    <td>{{ attribute.consumed }}</td> {# consume #}
                                                    <td>{{ attribute.c_factor }}</td> {# factor #}
                                                    <td>{{ attribute.available }}</td> {# available #}
                                                {% endfor %}
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% include 'resource_tracking/resource_pool/common/resource_pool_aside.html' %}
        </div>
    </div>
{% endblock %}
