{% extends 'base.html' %}
{% block title %}
 {{  resource_pool.name }} | Pool
{%  endblock %}
{% load render_table from django_tables2 %}
{% block header_button %}
    <div class="float-right">
        {% include html_button_path %}
    </div>
{% endblock %}
{% block main %}
    <div class="content">
        <div class="container-fluid">
            <!-- card update name -->
            <div class="card">
                <div class="card-body">
                    {% include "generics/form_edit.html" %}
                </div>
            </div>
            <!-- card list attributes -->
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title"><strong>Computable attributes</strong></h3>
                    <div class="card-tools">
                        <a href="{% url 'resource_tracker:resource_pool_attribute_create' resource_pool.id %}"
                           class="btn btn-success btn-sm">
                            <i class="fas fa-plus"></i> Add computable attribute
                        </a>
                    </div>
                </div>
                <div class="card-body">
                    {% with parent_id=resource_pool.id %}
                        {% render_table attribute_table %}
                    {% endwith %}
                </div>
            </div>

        </div><!-- end container fluid -->
    </div>
{% endblock %}
