{% extends 'base.html' %}

{% block header_button %}
    <a class="btn btn-default float-right ml-1" data-widget="control-sidebar">
        <i class="fas fa-sliders-h"></i>
    </a>
    <a class="btn btn-success float-right"
       href="{% url 'resource_tracker:resource_group_resource_create' resource_group_id=resource_group.id %}">
        <i class="fas fa-plus"></i> Add
    </a>
{% endblock %}

{% block main %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card overflow-auto">
                    <div class="card-body">
                        <table id="resource_group_list" class="table">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Instance</th>
                                {% for attribute_name in list_attribute_name %}
                                    <th>{{ attribute_name }}</th>
                                {% endfor %}
                                {% for attribute_name in list_text_attribute_name %}
                                    <th>{{ attribute_name }}</th>
                                {% endfor %}
                                <th>Operations</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for resource in resources.qs %}
                                <tr>
                                    <td class="align-middle">{{ resource.name }}</td>
                                    <td class="align-middle">
                                        {% if  resource.service_catalog_instance %}
                                            <a href="{% url "service_catalog:instance_details" resource.service_catalog_instance.id %}">
                                                {{ resource.service_catalog_instance.name }}
                                            </a>
                                        {% endif %}
                                    </td>
                                    {% for attribute_name in list_attribute_name %}
                                        <td class="align-middle">{{ resource | get_attribute_value_from_name:attribute_name }}</td>
                                    {% endfor %}
                                    {% for attribute_name in list_text_attribute_name %}
                                        <td class="align-middle">{{ resource | get_text_attribute_value_from_name:attribute_name }}</td>
                                    {% endfor %}
                                    <td class="align-middle">
                                        <div class="row">
                                            <a href="{% url 'resource_tracker:resource_group_resource_edit' resource_group_id=resource_group.id resource_id=resource.id %}"
                                               class="btn btn-primary bg-sm">
                                                <i class="fas fa-edit"></i>
                                            </a>
                                            <a href="{% url 'resource_tracker:resource_group_resource_delete' resource_group_id=resource_group.id resource_id=resource.id %}"
                                               class="btn btn-danger bg-smv ml-1">
                                                <i class="fas fa-trash"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <aside class="control-sidebar control-sidebar-light" style="display: block;">
                    <div class="row">
                        <a class="nav-link float-left" data-widget="control-sidebar">
                            <i class="fas fa-chevron-right"></i>
                        </a>
                    </div>
                    <div class="p-3 control-sidebar-content">
                        <div class="row pb-3">
                            <h3 class="card-title"><i class="fas fa-search"></i> Filter</h3>
                        </div>
                        <form method="get">
                            {{ resources.form.as_p }}
                            <button class="btn btn-primary" type="submit">Apply</button>
                        </form>
                    </div>
                </aside>
            </div>
        </div>
    </div>
{% endblock %}
