{% if breadcrumbs %}
    <ol class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
            {% if breadcrumb == breadcrumbs|last or breadcrumb.url == ""%}
                <li class="breadcrumb-item active" aria-current="page">{{ breadcrumb.text }}</li>
            {% elif breadcrumb == breadcrumbs|last %}
                <li class="breadcrumb-item active" aria-current="page">
                    <a href="{{ breadcrumb.url }}">{{ breadcrumb.text }}</a>
                </li>
            {% elif breadcrumb.url == "" %}
                <li class="breadcrumb-item">{{ breadcrumb.text }}</li>
            {% else %}
                <li class="breadcrumb-item">
                    <a href="{{ breadcrumb.url }}">{{ breadcrumb.text }}</a>
                </li>
            {% endif %}
        {% endfor %}
    </ol>
{% elif title %}
    <h1>{{ title }}</h1>
{% endif %}
