{% extends 'base.html' %}

{% block content %}
    <div class="content-wrapper" style="min-height: 278px;">
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        {% include "generics/breadcrumbs.html" %}
                    </div>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="container-fluid">
                <div class="card card-danger">
                    <div class="card-header">
                        <h3 class="card-title">{{ confirm_text }}</h3>
                    </div>
                    <div class="card-body">
                        {% if details != None %}
                            {{ details.warning_sentence }}
                            <ul>
                                {% for detail in details.details_list %}
                                    <li>{{ detail }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                        <form class="form-horizontal" method="post">{% csrf_token %}
                            <button class="btn btn-danger" type="submit">
                                <i class="fas fa-trash"></i>
                                Confirm
                            </button>
                            <button class="btn btn-light" type="button" onclick=window.history.back()>
                                <i class="fas fa-window-close"></i>
                                Cancel
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
