{% has_perm request.user "service_catalog.view_doc" as can_view_doc %}
{% if can_view_doc %}
    {% load martortags %}
    {% for doc in docs %}
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">
                    <i class="fas fa-info"></i> {{ doc.title }}
                </h3>
                {% if request.user.is_staff %}
                    <div class="card-tools">
                        <a href="{% url 'admin:service_catalog_doc_change' doc.id %}"
                           class="btn btn-default btn-sm">
                            <i class="far fa-edit"></i>
                        </a>
                    </div>
                {% endif %}
            </div>
            <div class="card-body p-0">
                <div class="martor-preview{% if request.user.profile.theme == "dark" %} bg-dark{% endif %}">
                    {{ doc.rendered_doc| safe_markdown }}
                </div>
            </div>
        </div>
    {% endfor %}
{% endif %}
