{% has_perm request.user "service_catalog.view_doc" as can_view_doc %}

{% if can_view_doc %}
    {% load martortags %}
    {% for doc in docs %}

        <div id="accordion_docs">
            <div class="card">
                <div class="card-header">
                    <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#doc_{{ doc.id }}"
                                aria-controls="doc_{{ doc.id }}" title="Click to expand/collapse">
                            {{ doc.title }}
                        </button>
                    </h5>
                </div>

                <div id="doc_{{ doc.id }}"
                     class="collapse {% if  expanded != False %}show{% endif %}"
                     data-parent="#accordion_docs">
                    <div class="card-body p-0">
                        <div class="martor-preview{% if request.user.profile.theme == "dark" %} bg-dark{% endif %}">
                            {{ doc.content| safe_markdown }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

    {% endfor %}
{% endif %}
