{% extends 'base.html' %}

{% block main %}
    <div class="container-fluid">
            <blockquote class="quote-warning mt-0 ml-0 mr-0">
                <h5> Warning</h5>
                <p>Manually editing {{ object_name }} may break it. Use with caution.</p>
            </blockquote>
        <div class="card">
            <div class="card-body">
                {% include "generics/form_edit.html" with icon_button="fas fa-save" text_button="Save" color_button="success" %}
            </div>
        </div>
    </div>
    {% load static %}
    <script src="{% static 'squest/js/admin_service_form.js' %}"></script>
    <script src="{% static 'admin-lte/plugins/daterangepicker/daterangepicker.js' %}"></script>
    <script src="{% static 'admin-lte/plugins/moment/moment.min.js' %}"></script>
    <script src="{% static 'admin-lte/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.js' %}"></script>
{% endblock %}
