{% if form.errors %}
    <div class="alert alert-danger" role="alert">
        {% for field in form %}
            {% if field.errors %}
                <li><strong>{{ field.label }}:</strong> {{ field.errors|striptags }}</li>
            {% endif %}
        {% endfor %}
    </div>
{% endif %}
<form class="form-horizontal" action="" method="post">{% csrf_token %}

    {% for field in form %}
        <div class="form-group {% if field.errors %}has-error{% endif %}">
            <label for="{{ field.id_for_label }}" class="col-sm-2 control-label">
                {{ field.label }}
            </label>
            <div class="col-sm-12">
                {{ field }}
                {% if field.help_text %}
                    <small class="form-text text-muted">{{ field.help_text|safe }}</small>
                {% endif %}
            </div>
        </div>
    {% endfor %}

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <!-- validate button -->
            {% if template.form.button == "edit" %}
                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-plus"></i>
                    Update
                </button>
            {% elif template.form.button == "create" %}
                <button class="btn btn-success" type="submit">
                    <i class="fas fa-plus"></i>
                    Add
                </button>
            {% else %}
                  <button class="btn btn-success" type="submit">
                    <i class="fas fa-plus"></i>
                    Process
                </button>
            {% endif %}
        </div>
    </div>
</form>
