{% if form.errors %}
    <div class="alert alert-danger" role="alert">
        {% for field in form %}
            {% if field.errors %}
                <li><strong>{{ field.label }}:</strong> {{ field.errors|striptags }}</li>
            {% endif %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            <li>{{ error }}</li>
        {% endfor %}
    </div>
{% endif %}
{% with method=method|default:"post" %}
    <form class="form-horizontal" method="{{ method }}" {% if multipart %}enctype="multipart/form-data"{% endif %}>
        {% if method == "post" %}
            {% csrf_token %}
        {% endif %}
        {% for field in form %}
            {% if field.field.separator %}
                <div class="mb-8">
                    <hr class="solid">
                </div>
            {% endif %}
            {% if field.field.form_title %}
                <h5 class="text-primary">{{ field.field.form_title }}</h5>
            {% endif %}
            {% if field.field.widget.input_type == "checkbox" %}
                <div class="mb-1 {% if field.errors %}has-error{% endif %}">
                    {{ field }}
                    <label for="{{ field.id_for_label }}" class="form-check-label">
                        {{ field.label }}
                    </label>
                    {% if field.help_text %}
                        <small class="pl-3 pb-2 form-text text-muted">{{ field.help_text|safe }}</small>
                    {% endif %}
                </div>
            {% else %}
                <div class="form-group {% if field.errors %}has-error{% endif %}">
                    {% if not field.is_hidden %}
                        <label for="{{ field.id_for_label }}" class="control-label">
                            {{ field.label }} {% if field.field.required %}<span class="text-danger">*</span>{% endif %}
                        </label>
                    {% endif %}
                    <div class="col-sm-12">
                        {{ field }}
                        {% if field.help_text %}
                            <small class="form-text text-muted">{{ field.help_text|safe }}</small>
                        {% endif %}
                        {% if field.field.quota %}
                        <small class="form-text text-primary">Quota: {{ field.field.quota }}</small>
                        {%  endif %}
                    </div>
                </div>
            {% endif %}
        {% endfor %}

        <div class="mt-2 form-group">
            <div class="col-sm-offset-2 col-sm-10">
                {% block form_validation_button %}
                    <!-- validate button -->
                    {% if icon_button and text_button and color_button %}
                        <button class="btn btn-{{ color_button }}" type="submit">
                            <i class="{{ icon_button }}"></i>
                            {{ text_button }}
                        </button>
                    {% elif custom_buttons_html %}
                        {% include custom_buttons_html %}
                    {% elif action == "edit" %}
                        <button class="btn btn-primary" type="submit">
                            <i class="fas fa-save"></i>
                            Update
                        </button>
                    {% elif action == "create" %}
                        <button class="btn btn-success" type="submit">
                            <i class="fas fa-plus"></i>
                            Add
                        </button>
                    {% elif action == 'apply' %}
                        <button class="btn btn-primary" type="submit">Apply</button>
                    {% endif %}
                {% endblock %}
            </div>
        </div>
        <small class="form-text text-muted"><span class="text-danger">*</span> Required field</small>
    </form>
{% endwith %}
