{% extends 'base.html' %}
{% block header_button %}
    {% if html_button_path %}
        <div class="float-right">
            {% include html_button_path %}
        </div>
    {% endif %}
{% endblock %}
{% block main %}
    <div class="content">
        <div class="container-fluid">
            <div class="card">
                <div class="card-body">
                    {% include "generics/form_edit.html" %}
                </div>
            </div>
        </div>
    </div>
    {% load static %}
    <script src="{% static 'squest/js/admin_service_form.js' %}"></script>
    <script src="{% static 'admin-lte/plugins/daterangepicker/daterangepicker.js' %}"></script>
    <script src="{% static 'admin-lte/plugins/moment/moment.min.js' %}"></script>
    <script src="{% static 'admin-lte/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.js' %}"></script>
{% endblock %}
