                <div class="card"><!-- card operations -->
                    <div class="card-header">
                        <h3 class="card-title"><i class="fas fa-wrench"></i> Operations</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table class="table data_table_lite">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Description</th>
                                <th>Type</th>
                                <th>Request</th>
                            </tr>
                            </thead>
                            <tbody>
                            {%  for operation in operations %}
                                <tr>
                                    <td class="align-middle">{{ operation.name }}</td>
                                    <td class="align-middle">{{ operation.description }}</td>
                                    <td class="align-middle"><h4><span class="badge bg-{{ operation.type|map_operation_type }}">{{ operation.type }}</span></h4></td>
                                    <td class="align-middle">
                                        <a href="{% url 'service_catalog:customer_instance_request_new_operation' instance_id=instance.id operation_id=operation.id %}" class="btn btn-info bg-sm">
                                            <i class="fas fa-play"></i>
                                        </a>
                                    </td>
                                </tr>
                            {%  endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
