<div class="timeline">
    <div class="time-label">
        <span class="bg-info">Submitted</span>
    </div>
    <div>
        <i class="fas fa-shopping-cart bg-blue"></i>
        <div class="timeline-item">
            <span class="time"><i class="fas fa-clock"></i> {{ object.date_submitted }}</span>
            <h3 class="timeline-header">Requested by <a
                    href="{% url 'profiles:user_details' object.user.id %}">{{ object.user }}</a></h3>
            <div class="timeline-body">
                <table class="row">
                    {% for variable_name, value in object.fill_in_survey.items %}
                        <tr>
                            <td class="col-sm-2"><b>{{ variable_name }}</b></td>
                            <td class="col-sm-10">{{ value }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>

        </div>
    </div>
    {% if object.approval_workflow_state %}
        {% for step in object.approval_workflow_state.approval_step_states.all %}
            <div>
                <i class="fas fa-clipboard{% if step.state == "APPROVED" %}-check{% endif %} bg-{{ step |map_approvalstep_state }}"></i>
                <div class="timeline-item">
                    <span class="time">
                        <span class="badge bg-{{ step |map_approvalstep_state }}">
                            {{ step.state }}
                        </span>
                    </span>
                    <h3 class="timeline-header text-success">{{ step.approval_step.name }}</h3>
                    <div class="timeline-body">
                        {% if step.state == "APPROVED" %}
                            <table class="row">
                                {% for variable_name, value in step.fill_in_survey.items %}
                                    <tr>
                                        <td class="col-sm-2">{{ variable_name }}</td>
                                        <td class="col-sm-10">{{ value }}</td>
                                    </tr>
                                {% endfor %}
                            </table>
                            <blockquote class="quote-success">
                                <i class="fas fa-check text-success"></i> Approved by
                                <strong>{{ step.updated_by }}</strong> on {{ step.date_updated }}
                            </blockquote>
                        {% elif step.state == "REJECTED" %}
                            <blockquote class="quote-danger">
                                <i class="fas fa-ban text-danger"></i> Rejected by
                                <strong>{{ step.updated_by }}</strong> on {{ step.date_updated }}
                            </blockquote>
                            <div class="row justify-content-md-center">
                                <div class="timeline-footer">
                                    <a class="btn btn-sm btn-default"
                                       title="Review"
                                       href="{% url 'service_catalog:request_re_submit' object.id %}">
                                        <i class="fas fa-redo"></i> Undo
                                    </a>
                                </div>
                            </div>
                        {% else %}
                            {% if step.is_current_step_in_approval %}
                                <div class="row justify-content-md-center">
                                    <div class="timeline-footer">
                                        <a class="btn btn-lg btn-primary"
                                           title="Review"
                                           href="{% url 'service_catalog:request_approve' object.id %}">
                                            <i class="fas fa-clipboard-check"></i> Review
                                        </a>
                                        <a class="btn btn-lg btn-danger"
                                           title="Reject"
                                           href="{% url 'service_catalog:request_reject' object.id %}">
                                            <i class="fas fa-ban"></i> Reject
                                        </a>
                                    </div>
                                </div>
                            {% else %}
                                <blockquote class="quote-info">
                                    <i class="fas fa-pause text-info"></i> Waiting for previous step to be accepted.
                                </blockquote>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div>
            <i class="fas fa-clipboard-check bg-{{ object.state |map_request_state }}"></i>
            <div class="timeline-item">
                    <span class="time">
                        <span class="badge bg-{{ object.state |map_request_state }}">
                            {{ object.state }}
                        </span>
                    </span>
                <h3 class="timeline-header">Admin review</h3>
                <div class="timeline-body">
                    {% if object.state == "ACCEPTED" %}
                        <table class="row">
                            {% for variable_name, value in object.admin_fill_in_survey.items %}
                                <tr>


                                    <td class="col-sm-2">{{ variable_name }}</td>
                                    <td class="col-sm-10">{{ value }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                        <blockquote class="quote-success">
                            <i class="fas fa-check text-success"></i> Accepted by
                            <strong>{{ object.accepted_by }}</strong>
                        </blockquote>
                    {% else %}
                        <div class="row justify-content-md-center">
                            <div class="timeline-footer">
                                {% with args_filter="cancel,"|addstr:request.user.id|addstr:","|addstr:object.id %}
                                    <a class="btn btl-lg btn-secondary {{ args_filter |is_action_dropdown_disabled }}"
                                       title="Cancel"
                                       href="{% url 'service_catalog:request_cancel' object.id %}">
                                        <i class="fas fa-window-close"></i> Cancel
                                    </a>
                                {% endwith %}
                                {% if object.state != "NEED_INFO" %}
                                    {% with args_filter="need_info,"|addstr:request.user.id|addstr:","|addstr:object.id %}
                                        <a class="btn btl-lg btn-warning {{ args_filter |is_action_dropdown_disabled }}"
                                           title="Ask more info"
                                           href="{% url 'service_catalog:request_need_info' object.id %}">
                                            <i class="fas fa-info-circle"></i> Ask info
                                        </a>
                                    {% endwith %}
                                {% else %}
                                    {% with args_filter="re_submit,"|addstr:request.user.id|addstr:","|addstr:object.id %}
                                        <a class="btn btl-lg btn-info {{ args_filter |is_action_dropdown_disabled }}"
                                           title="Reset to submit"
                                           href="{% url 'service_catalog:request_re_submit' object.id %}">
                                            <i class="fas fa-undo"></i> Reset to submitted
                                        </a>
                                    {% endwith %}
                                {% endif %}
                                {% with args_filter="reject,"|addstr:request.user.id|addstr:","|addstr:object.id %}
                                    <a class="btn btl-lg btn-danger {{ args_filter |is_action_dropdown_disabled }}"
                                       title="Reject"
                                       href="{% url 'service_catalog:request_reject' object.id %}">
                                        <i class="fas fa-ban"></i> Reject
                                    </a>
                                {% endwith %}
                                {% with args_filter="accept,"|addstr:request.user.id|addstr:","|addstr:object.id %}
                                    <a class="btn btl-lg btn-primary {{ args_filter |is_action_dropdown_disabled }}"
                                       title="Review"
                                       href="{% url 'service_catalog:request_accept' object.id %}">
                                        <i class="fas fa-clipboard-check"></i> Review
                                    </a>
                                {% endwith %}
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endif %}
    {% if object.state == "REJECTED" %}
        <div class="time-label">
            <span class="bg-danger">Rejected</span>
        </div>
    {% else %}
        <div class="time-label">
            <span class="bg-{% if object.state == "ACCEPTED" %}success{% else %}secondary{% endif %}">Accepted</span>
        </div>
    {% endif %}
    <div>
        <i class="fas fa-play fa-lg bg-{% if object.state == "ACCEPTED" %}success{% else %}secondary{% endif %}"></i>
        <div class="timeline-item">
            <span class="time">
                <span class="badge bg-secondary">
                    PENDING
                </span>
            </span>
            <h3 class="timeline-header">Process the request</h3>
            <div class="timeline-body">
                <div class="row justify-content-md-center">
                    <div class="timeline-footer">
                        <a class="btn btn-lg btn-success {% if not object.state == "ACCEPTED" %}disabled{% endif %}"
                           title="Process"
                           href="{% url 'service_catalog:request_process' object.id %}">
                            <i class="fas fa-play"></i> Process
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="time-label">
        <span class="bg-{% if object.state == "COMPLETE" %}success{% else %}secondary{% endif %}">Complete</span>
    </div>
</div>
