{% has_perm request.user "service_catalog.cancel_request" object as can_cancel_request %}
{% has_perm request.user "service_catalog.need_info_request" object as can_need_info_request %}
{% has_perm request.user "service_catalog.re_submit_request" object as can_re_submit_request %}
{% has_perm request.user "service_catalog.reject_request" object as can_reject_request %}
{% has_perm request.user "service_catalog.accept_request" object as can_accept_request %}
{% has_perm request.user "service_catalog.process_request" object as can_process_request %}

<div class="timeline">
    <div>
        <i class="fas fa-shopping-cart bg-success"></i>
        <div class="timeline-item">
            <span class="time"><i class="fas fa-clock"></i> {{ object.date_submitted | squest_date_format }}</span>
            <h3 class="timeline-header">Requested by <a
                    href="{% url 'profiles:user_details' object.user.id %}">{{ object.user }}</a></h3>
            <div class="timeline-body">
                <table class="row">
                    {% for variable_name, value in object.fill_in_survey.items %}
                        <tr>
                            <td class="col-sm-2"><b>{{ variable_name }}</b></td>
                            <td class="col-sm-10">{{ value }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>

        </div>
    </div>
    <div class="time-label">
        <span class="bg-success">Submitted</span>
    </div>
    {% if object.approval_workflow_state %}
        {% for step in object.approval_workflow_state.approval_step_states.all %}
            {% has_perm request.user step.approval_step.permission.permission_str step as has_step_permission %}
            <div>
                <i class="fas fa-clipboard-check bg-{{ step |map_approvalstep_state }}"></i>
                <div class="timeline-item">
                    <span class="time">
                        <span class="badge bg-{{ step |map_approvalstep_state }}">
                            {{ step.get_state_display }}
                        </span>
                    </span>
                    <h3 class="timeline-header text-success">{{ step.approval_step.name }}</h3>
                    <div class="timeline-body">
                        {% if step.get_state_display == "APPROVED" %}
                            <details>
                                <summary>Survey</summary>
                                <table class="row">
                                    {% if can_view_step %}
                                        {% for variable_name, value in step.fill_in_survey.items %}
                                            <tr>
                                                <td class="col-sm-2"><b>{{ variable_name }}</b></td>
                                                <td class="col-sm-10">{{ value }}</td>
                                            </tr>
                                        {% endfor %}
                                    {% else %}
                                        {% get_full_survey_user object step as user_survey %}
                                        {% for variable_name, value in user_survey.items %}
                                            <tr>
                                                <td class="col-sm-2"><b>{{ variable_name }}</b></td>
                                                <td class="col-sm-10">{{ value }}</td>
                                            </tr>
                                        {% endfor %}
                                    {% endif %}
                                </table>
                            </details>
                            <blockquote class="quote-success">
                                <i class="fas fa-check text-success"></i> Approved by
                                <strong>{{ step.updated_by }}</strong> on {{ step.date_updated | squest_date_format }}
                            </blockquote>
                        {% elif step.get_state_display == "REJECTED" %}
                            <blockquote class="quote-danger">
                                <i class="fas fa-ban text-danger"></i> Rejected by
                                <strong>{{ step.updated_by }}</strong> on {{ step.date_updated | squest_date_format }}
                            </blockquote>
                            <div class="row justify-content-md-center">
                                {% with args_filter="re_submit,"|addstr:object.id %}
                                    {% if args_filter|can_proceed_request_action and can_re_submit_request %}
                                        <div class="timeline-footer">
                                            <a class="btn btn-default"
                                               title="Re-submit"
                                               href="{% url 'service_catalog:request_re_submit' object.id %}">
                                                <i class="fas fa-redo"></i> Re-submit
                                            </a>
                                        </div>
                                    {% endif %}
                                {% endwith %}
                            </div>
                        {% else %}
                            {% if step.is_current_step_in_approval %}
                                <div class="row justify-content-md-center">
                                    <div class="timeline-footer">
                                        {% if has_step_permission %}
                                            <a class="btn btn-danger"
                                               title="Reject"
                                               href="{% url 'service_catalog:request_reject' object.id %}">
                                                <i class="fas fa-ban"></i> Reject
                                            </a>
                                            <a class="btn btn-primary"
                                               title="Review"
                                               href="{% url 'service_catalog:request_approve' object.id %}">
                                                <i class="fas fa-clipboard-check"></i> Review
                                            </a>
                                        {% endif %}
                                    </div>
                                </div>
                            {% else %}
                                <blockquote class="quote-info">
                                    <i class="fas fa-pause text-info"></i> Waiting for previous step to be accepted.
                                </blockquote>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div>
            <i class="fas fa-clipboard-check bg-{{ object.get_state_display | map_color_next_state:'SUBMITTED' }}"></i>
            <div class="timeline-item">
                <h3 class="timeline-header">Admin review</h3>
                <div class="timeline-body">
                    {% if object.get_state_display == "SUBMITTED" %}
                        <div class="callout callout-info">
                            <i class="fas fa-pause text-info"></i> This request is waiting for an approval
                        </div>
                    {% endif %}
                    {% if object.get_state_display == "NEED_INFO" %}
                        <div class="callout callout-warning">
                            <i class="fas fa-pause text-warning"></i> This request is waiting for information as
                            comment.
                        </div>
                    {% endif %}

                    {% if object.get_state_display == "ACCEPTED" or object.get_state_display == "COMPLETE" or object.get_state_display == "FAILED" %}
                        <details>
                            <summary>Survey</summary>
                            <table class="row">
                                {% has_perm request.user "service_catalog.view_admin_survey" object as can_view_adminsurvey %}
                                {% if can_view_adminsurvey %}
                                    {% for variable_name, value in object.full_survey.items %}
                                        <tr>
                                            <td class="col-sm-2"><b>{{ variable_name }}</b></td>
                                            <td class="col-sm-10">{{ value }}</td>
                                        </tr>
                                    {% endfor %}
                                {% else %}
                                    {% for variable_name, value in object.full_survey_user.items %}
                                        <tr>
                                            <td class="col-sm-2"><b>{{ variable_name }}</b></td>
                                            <td class="col-sm-10">{{ value }}</td>
                                        </tr>
                                    {% endfor %}
                                {% endif %}
                            </table>
                        </details>
                        <blockquote class="quote-success">
                            <i class="fas fa-check text-success"></i> Accepted by
                            <strong>{{ object.accepted_by }}</strong>
                        </blockquote>
                    {% else %}
                        <div class="row justify-content-md-center">
                            <div class="timeline-footer">
                                {% with args_filter="cancel,"|addstr:object.id %}
                                    {% if args_filter|can_proceed_request_action and can_cancel_request %}
                                        <a class="btn btn-secondary"
                                           title="Cancel"
                                           href="{% url 'service_catalog:request_cancel' object.id %}">
                                            <i class="fas fa-window-close"></i> Cancel
                                        </a>
                                    {% endif %}
                                {% endwith %}
                                {% with args_filter="reject,"|addstr:object.id %}
                                    {% if args_filter|can_proceed_request_action and can_reject_request %}
                                        <a class="btn btn-danger"
                                           title="Reject"
                                           href="{% url 'service_catalog:request_reject' object.id %}">
                                            <i class="fas fa-ban"></i> Reject
                                        </a>
                                    {% endif %}
                                {% endwith %}
                                {% if object.get_state_display != "NEED_INFO" %}
                                    {% with args_filter="need_info,"|addstr:object.id %}
                                        {% if args_filter|can_proceed_request_action and can_need_info_request %}
                                            <a class="btn btn-warning"
                                               title="Ask more info"
                                               href="{% url 'service_catalog:request_need_info' object.id %}">
                                                <i class="fas fa-info-circle"></i> Ask info
                                            </a>
                                        {% endif %}
                                    {% endwith %}
                                {% else %}
                                    {% with args_filter="re_submit,"|addstr:object.id %}
                                        {% if args_filter|can_proceed_request_action and can_re_submit_request %}
                                            <a class="btn btn-info"
                                               title="Re-submit"
                                               href="{% url 'service_catalog:request_re_submit' object.id %}">
                                                <i class="fas fa-undo"></i> Re-submit
                                            </a>
                                        {% endif %}
                                    {% endwith %}
                                {% endif %}
                                {% with args_filter="accept,"|addstr:object.id %}
                                    {% if args_filter|can_proceed_request_action and can_accept_request %}
                                        <a class="btn btn-primary"
                                           title="Review"
                                           href="{% url 'service_catalog:request_accept' object.id %}">
                                            <i class="fas fa-clipboard-check"></i> Review
                                        </a>
                                    {% endif %}
                                {% endwith %}
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endif %}
    {% if object.get_state_display == "REJECTED" %}
        <div class="time-label">
            <span class="bg-danger">Rejected</span>
        </div>
    {% elif object.get_state_display == "CANCELED" %}
        <div class="time-label">
            <span class="bg-info">Canceled</span>
        </div>
    {% else %}
        <div class="time-label">
            <span class="bg-{{ object.get_state_display | map_current_state:'ACCEPTED' }}">Accepted </span>
        </div>
    {% endif %}
    {% if object.get_state_display == "ACCEPTED" or object.get_state_display == "COMPLETE" or object.get_state_display == "FAILED" or object.get_state_display == "PROCESSING" %}
        <div>
            <i class="fas fa-play fa-lg bg-{{ object.get_state_display | map_color_next_state:'ACCEPTED' }}"></i>
            <div class="timeline-item">
                {% if object.date_complete %}
                    <span class="time"><i class="fas fa-clock"></i> {{ object.date_complete | squest_date_format }}</span>{% endif %}
                <h3 class="timeline-header">Process the request</h3>
                <div class="timeline-body">
                    {% if object.get_state_display == "ACCEPTED" %}
                        <div class="callout callout-info">
                            <i class="fas fa-pause text-info"></i> This request is ready to be processed.
                        </div>
                    {% elif object.get_state_display == "COMPLETE" or object.get_state_display == "FAILED" or object.get_state_display == "PROCESSING" %}
                        <blockquote class="quote-success">
                            <i class="fas fa-check text-success"></i> Sent for processing by
                            <strong>{{ object.processed_by }}</strong>
                        </blockquote>
                    {% endif %}
                    {% if can_process_request and object.get_state_display == "ACCEPTED" %}
                        <div class="row justify-content-md-center">
                            <div class="timeline-footer">
                                {% with args_filter="process,"|addstr:object.id %}
                                    {% if args_filter|can_proceed_request_action and can_process_request %}
                                        <a class="btn btn-primary"
                                           title="Process"
                                           href="{% url 'service_catalog:request_process' object.id %}">
                                            <i class="fas fa-play"></i> Process
                                        </a>
                                    {% endif %}
                                {% endwith %}
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endif %}
    <div class="time-label">
        <span class="bg-{{ object.get_state_display | map_current_state:'PROCESSING' }}">Processing</span>
    </div>
    {% if object.get_state_display == "PROCESSING" or object.get_state_display == "COMPLETE" %}
        <div>
            <i class="fas fa-cog bg-success"></i>
            <div class="timeline-item">
                <h3 class="timeline-header text-success">Processing <a href="{{ object.tower_job_url }}"
                                                                       class="float-right">Job: {{ object.tower_job_id }}</a>
                </h3>
                <div class="timeline-body">
                    {% if  object.get_state_display == "PROCESSING" %}
                        The request is currently being processed
                    {% else %}
                        <blockquote class="quote-success">
                            <i class="fas fa-check text-success"></i> Request processed successfully
                        </blockquote>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endif %}
    {% if object.get_state_display == "FAILED" %}
        <div>
            <i class="fas fa-exclamation-triangle bg-danger"></i>
            <div class="timeline-item">
                <h3 class="timeline-header text-danger">Processing failed <a href="{{ object.tower_job_url }}"
                                                                             class="float-right">Job: {{ object.tower_job_id }}</a>
                </h3>
                <div class="timeline-body">
                    The processing has failed and may require administrator attention.<br> Controller error:<br>
                    <div class="callout callout-danger">
                        <i class="fas fa-bug text-danger"></i> {{ object.failure_message }}
                    </div>
                    {% if can_process_request %}
                        <div class="row justify-content-md-center">
                            <div class="timeline-footer">
                                {% with args_filter="process,"|addstr:object.id %}
                                     {% if args_filter|can_proceed_request_action and can_process_request %}
                                        <a class="btn btn-primary"
                                           title="Process"
                                           href="{% url 'service_catalog:request_process' object.id %}">
                                            <i class="fas fa-play"></i> Retry process
                                        </a>
                                    {% endif %}
                                {% endwith %}
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="time-label">
            <span class="bg-danger">Failed</span>
        </div>
    {% endif %}
    {% if object.get_state_display != "FAILED" %}
        <div class="time-label">
            <span class="bg-{{ object.get_state_display | map_current_state:'COMPLETE' }}">Complete</span>
        </div>
    {% endif %}
</div>
