{% has_perm request.user "service_catalog.view_instance" object.instance as can_view_instance %}
<div class="card card-default">
    <div class="card-header">
        <h3 class="card-title">Request <strong>#{{ object.id }}</strong></h3>
    </div>
    <div class="card-body">
        <ul class="list-group list-group-unbordered mb-3">
            <li class="list-group-item">
                <b>Instance</b>
                {% if can_view_instance %}
                    <a href="{% url 'service_catalog:instance_details' object.instance.id %}"
                       class="float-right">{{ object.instance.name }}</a>
                {% else %}
                    <span class="float-right">{{ object.instance.name }}</span>
                {% endif %}
            </li>
            <li class="list-group-item">
                <b>Service</b><span
                    class="float-right">{{ object.operation.service.name }}</span>
            </li>
            <li class="list-group-item">
                <b>Operation</b><span class="float-right">{{ object.operation.name }}</span>
            </li>
            <li class="list-group-item">
                <b>Operation type</b><strong
                    class="float-right text-{{ object.operation.type |map_operation_type }}">{{ object.operation.type }}</strong>
            </li>
            <li class="list-group-item">
                <b>Quota scope</b>
                {% if object.instance.quota_scope.is_team %}
                    {% has_perm request.user "profiles.view_team" object.instance.quota_scope as can_view_quota_scope %}
                {% elif object.instance.quota_scope.is_org %}
                    {% has_perm request.user "profiles.view_org" object.instance.quota_scope as can_view_quota_scope %}
                {% endif %}
                {% if can_view_quota_scope %}
                    <strong class="float-right">
                        <a
                                href="{{ object.instance.quota_scope.get_absolute_url }}">{{ object.instance.quota_scope }}
                        </a>
                    </strong>
                {% else %}
                    <strong class="float-right">
                        <span>{{ object.instance.quota_scope }}</span>
                    </strong>
                {% endif %}

            </li>
            <li class="list-group-item">
                <b>Request state</b><strong
                    class="float-right text-{{ object.state |map_request_state }}">{{ object.get_state_display }}</strong>
            </li>
            <li class="list-group-item">
                <b>Instance state</b><strong
                    class="float-right text-{{ object.instance.state |map_instance_state }}">{{ object.instance.get_state_display }}</strong>
            </li>
            <li class="list-group-item">
                <b>Requester</b><span class="float-right">{{ object.user.username }}</span>
            </li>
            <li class="list-group-item">
                <b>Date submitted</b><span
                    class="float-right">{{ object.date_submitted |squest_date_format }}</span>
            </li>
            {% if object.date_complete %}
                <li class="list-group-item">
                    <b>Date complete</b><span
                        class="float-right">{{ object.date_complete |squest_date_format }}</span>
                </li>
            {% endif %}
            {% if object.accepted_by %}
                <li class="list-group-item">
                    <b>Accepted by</b><span
                        class="float-right">{{ object.accepted_by.username }}</span>
                </li>
            {% endif %}
            {% if object.processed_by %}
                <li class="list-group-item">
                    <b>Processed by</b><span
                        class="float-right">{{ object.processed_by.username }}</span>
                </li>
            {% endif %}
            {% if object.date_archived %}
                <li class="list-group-item">
                    <b>Date archived</b><span
                        class="float-right">{{ object.date_archived |squest_date_format }}</span>
                </li>
            {% endif %}
        </ul>
    </div>
</div>
