<div class="float-right">
    {% if request.user.is_superuser %}
        <a href="{% url 'service_catalog:request_edit' target_request.id %}"
           title="Edit"
           class="btn btn-primary">
            <i class="fas fa-pencil-alt"></i>
        </a>
        <a class="btn btn-danger"
           title="Delete"
           href="{% url 'service_catalog:request_delete' target_request.id %}">
            <i class="fas fa-trash"></i>
        </a>
        {% if target_request.state == "COMPLETE" %}
            {% with args_filter="archive,"|addstr:request.user.id|addstr:","|addstr:target_request.id %}
                <a class="btn btn-default {{ args_filter |is_action_dropdown_disabled }}"
                   title="Archive"
                   href="{% url 'service_catalog:admin_request_archive' target_request.id %}">
                    <i class="fas fa-archive"></i>
                </a>
            {% endwith %}
        {% endif %}
        {% if target_request.state == "ARCHIVED" %}
            {% with args_filter="unarchive,"|addstr:request.user.id|addstr:","|addstr:target_request.id %}
                <a class="btn btn-success {{ args_filter |is_action_dropdown_disabled }}"
                   title="Unarchive"
                   href="{% url 'service_catalog:admin_request_unarchive' target_request.id %}">
                    <i class="fas fa-box-open"></i>
                </a>
            {% endwith %}
        {% endif %}
        {% if target_request.state == "NEED_INFO" %}
            {% with args_filter="re_submit,"|addstr:request.user.id|addstr:","|addstr:target_request.id %}
                <a class="btn btn-info {{ args_filter |is_action_dropdown_disabled }}"
                   title="Reset to submitted"
                   href="{% url 'service_catalog:request_re_submit' target_request.id %}">
                    <i class="fas fa-redo"></i>
                </a>
            {% endwith %}
        {% endif %}
    {% endif %}
</div>
