{% with app=object|to_app_name|lower %}
    {% with class=object|to_class_name|lower %}
        {% with perm=app|add:".delete_"|add:class %}
            {% has_perm request.user perm object as can_delete %}
            {% if can_delete %}
                    <a href="{% url app|add:':'|add:class|add:'_delete' object.id %}"
                       class="btn btn-danger">
                        <i class="fas fa-trash"></i>
                    </a>
            {% endif %}
        {% endwith %}
    {% endwith %}
{% endwith %}
