{% with app=object|to_app_name|lower %}
    {% with class=object|to_class_name|lower %}
        {% with perm=app|add:".change_"|add:class %}
            {% has_perm request.user perm object as can_change %}
            {% if can_change %}
                <a href="{% url app|add:':'|add:class|add:'_edit' object.id %}"
                   class="btn btn-primary">
                    <i class="fas fa-pencil-alt"></i>
                </a>
            {% endif %}
        {% endwith %}
    {% endwith %}
{% endwith %}
