{% extends 'base.html' %}
{% block title %}
 Team RBAC
{%  endblock %}
{% block main %}
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                {% if form.errors %}
                    <div class="alert alert-danger" role="alert">
                        {% for field in form %}
                            {% if field.errors %}
                                <li><strong>{{ field.label }}:</strong> {{ field.errors|striptags }}</li>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
                <form id="CreateTeamRoleBindingForm" class="form-horizontal"
                      action="{{ url }}" method="post"
                      data-update-roles-url="{% url 'profiles:ajax_update_roles' %}"
                      data-update-objects-url="{% url 'profiles:ajax_update_objects' %}"
                >
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="form-group {% if field.errors %}has-error{% endif %}">
                            <label for="{{ field.id_for_label }}" class="control-label">
                                {{ field.label }} {% if field.field.required %}
                                <span class="text-danger">*</span>{% endif %}
                            </label>
                            <div class="col-sm-12">
                                {{ field }}
                                {% if field.help_text %}
                                    <small class="form-text text-muted">{{ field.help_text|safe }}</small>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}

                    <div class="mt-2 form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button class="btn btn-success" type="submit">
                                Create role
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% load static %}
    <script src="{% static 'squest/js/role-for-object.js' %}"></script>
    <script>
        $("#id_content_type").change(function () {
            update_dropdown_binding_with_content_type($(this).val());
        });
    </script>
{% endblock %}
