{% extends 'base.html' %}

{% block content %}
    <!-- Main content -->
    <div class="content-wrapper">
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>My requests</h1>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>
        <div class="content">
            <div class="container-fluid">
                <div class="card">

                    <div class="card-body">
                        <table id="customer_request_list" class="table">
                            <thead>
                            <tr>
                                <th>Instance</th>
                                <th>Service</th>
                                <th>Operation name</th>
                                <th>Operation type</th>
                                <th>State</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {%  for request in requests %}
                                <tr>
                                    <td class="align-middle">
                                        <a href="">
                                            {{ request.instance.name }}
                                        </a>
                                    </td>
                                    <td class="align-middle">{{ request.instance.service.name }}</td>
                                    <td class="align-middle">{{ request.operation.name }}</td>
                                    <td style="width: 10%" class="align-middle"><h4><span class="badge bg-{{ request.operation.type |map_operation_type }} btn-block">{{ request.operation.type }}</span></h4></td>
                                    <td style="width: 10%" class="align-middle"><h4><span class="badge bg-{{ request.state |map_request_state }} btn-block">{{ request.state }}</span></h4></td>
                                    <td style="width: 10%" class="align-middle">
                                        {% if request.state in 'SUBMITTED,NEED_INFO,REJECTED' %}
                                            <a href="{% url 'customer_request_cancel'  request.id %}" class="btn btn-danger bg-sm" title="Cancel request">
                                                <i class="fas fa-ban"></i>
                                            </a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {%  endfor %}
                            </tbody>
                        </table>
                    </div>

                </div><!-- end container fluid -->
            </div>
        </div>
    </div>
{% endblock %}
