{% extends 'base.html' %}
{% block title %}
    #{{ object.id }} | Instance
{% endblock %}
{% load render_table from django_tables2 %}
{% load static %}
{% block extra_header_button %}
    {% include 'service_catalog/buttons/instance_buttons.html' %}
{% endblock %}

{% block header_button %}
    {% include 'service_catalog/buttons/instance_edit_button.html' %}
    {% include 'generics/buttons/delete_button.html' %}
{% endblock %}
{% block custom_links %}
    <div class="float-right">
        {% load custom_links %}
        <div class="btn-toolbar">
            {% custom_links request.user object %}
        </div>
    </div>
{% endblock %}
{% block main %}
    <div class="container-fluid">
        <div class="row">
            <section class="col-lg-3">
                <div class="card card-default">
                    <div class="card-header">
                        <h3 class="card-title"><strong>{{ object.name }}</strong></h3>                        
                    </div>
                    <div class="card-body">
                        <div class="text-center">
                            <img class="card-img-top" src="
                                    {% if object.service.image %}{{ object.service.image.url }}{% else %}{% static '/squest/img/no_image.png' %}{% endif %}"
                                 alt="Service image">
                        </div>
                        <ul class="list-group list-group-unbordered mb-3">
                            <li class="list-group-item">
                                <b>ID</b>
                                <strong class="float-right">{{ object.id }}</strong>
                            </li>

                            <li class="list-group-item">
                                <b>Service</b>
                                {% has_perm request.user "service_catalog.change_service" object.service as can_edit_service %}

                                {% if can_edit_service %}
                                    <a href="{% url 'service_catalog:service_edit' object.service.id %}"
                                       class="float-right">{{ object.service.name }}</a>
                                {% else %}
                                    <a class="float-right">{{ object.service.name }}</a>
                                {% endif %}
                            </li>
                            <li class="list-group-item">
                                <b>State</b> <strong
                                    class="float-right text-{{ object.state |map_instance_state }}">{{ object.get_state_display }}</strong>
                            </li>
                            <li class="list-group-item">
                                <b>Quota scope</b> <a href="{{ object.quota_scope.get_absolute_url }}"
                                                      class="float-right">{{ object.quota_scope }}</a>
                            </li>
                            <li class="list-group-item">
                                <b>RBAC scope</b>
                                {% for scope in object.get_scopes %}
                                    <a class="float-right" href="{{ scope.get_absolute_url }}">
                                        {{ scope }}
                                    </a> <br>
                                {% endfor %}
                            </li>
                            {% if object.requester %}
                                <li class="list-group-item">
                                    <b>Owner</b> <a href="{% url 'profiles:user_details' object.requester.id %}"
                                                    class="float-right">{{ object.requester.username }}</a>
                                </li>
                            {% endif %}
                            {% has_perm request.user "resource_tracker_v2.change_resource" object as can_change_resource %}
                            {% if can_change_resource %}
                                <li class="list-group-item">
                                    <b>Resources</b>
                                    {% for resource in object.resources.all %}
                                        <a class="float-right"
                                           href="{% url 'resource_tracker_v2:resource_edit' resource.resource_group.id resource.id %}">
                                            {{ resource.name }}
                                        </a> <br>
                                    {% endfor %}
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </section>
            <section class="col-lg-9">
                <div class="card">
                    <div class="card-header p-2">
                        <ul class="nav nav-pills squest-default-active" id="tabs">
                            {% if operations_table %}
                                <li class="nav-item">
                                    <a class="nav-link" href="#operations" data-toggle="tab">Operations</a>
                                </li>
                            {% endif %}
                            <li class="nav-item">
                                <a class="nav-link" href="#support" data-toggle="tab">Support</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#spec" data-toggle="tab">Specs</a>
                            </li>
                            {% if requests_table %}
                                <li class="nav-item">
                                    <a class="nav-link" href="#requests" data-toggle="tab">Requests</a>
                                </li>
                            {% endif %}
                            <li class="nav-item">
                                <a class="nav-link" href="#docs" data-toggle="tab">Docs</a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="tab-pane" id="operations">
                                {% if operations_table %}
                                    {% if object.get_state_display == "AVAILABLE" %}
                                        {% render_table operations_table %}
                                    {% else %}
                                        <p> Instance not available</p>
                                    {% endif %}
                                {% endif %}
                            </div>
                            <div class="tab-pane" id="support">
                                {% if object.service.external_support_url is not None and object.service.external_support_url != '' %}
                                    <p class="text-muted">Supports for this service are redirected to an external
                                        tool</p>
                                {% elif supports_table %}
                                    {% render_table supports_table %}
                                {% endif %}
                            </div>
                            <div class="tab-pane" id="spec">
                                <div class="wrapper d-flex flex-wrap">
                                    <div class="card card-primary card-outline flex-grow-1 m-2">
                                        <div class="card-header">
                                            <h3 class="card-title">User spec</h3>
                                        </div>
                                        <div class="card-body pt-0 pb-0">
                                    <pre>
                                        <code style="border: 0; padding: 0; margin: 0;"
                                              class="language-json">{{ object.user_spec | pretty_json }}
                                        </code>
                                    </pre>
                                        </div>
                                    </div>

                                    {% has_perm request.user "service_catalog.view_admin_spec_instance" object as can_view_admin_spec_instance %}

                                    {% if can_view_admin_spec_instance %}
                                        <div class="card card-primary card-outline flex-grow-1 m-2">
                                            <div class="card-header">
                                                <h3 class="card-title">Admin spec</h3>
                                            </div>
                                            <div class="card-body pt-0 pb-0">
                                        <pre>
                                            <code style="border: 0; padding: 0; margin: 0;"
                                                  class="language-json">{{ object.spec | pretty_json }}
                                            </code>
                                        </pre>
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>

                            <div class="tab-pane" id="requests">
                                {% if requests_table %}
                                    {% render_table requests_table %}
                                {% endif %}
                            </div>
                            <div class="tab-pane" id="docs">
                                {% include "generics/doc_aside.html" with expanded=False %}
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock %}
{% block custom_script %}
    <script>add_tab_management();</script>
{% endblock %}
