{% extends 'base.html' %}
{% block title %}
    #{{ object.id }} | Instance
{% endblock %}
{% load render_table from django_tables2 %}
{% load static %}

{% block header_button %}
    <div class="float-right">
        {% has_perm request.user "service_catalog.add_support" object as can_add_support %}
        {% if object.service.external_support_url is not None and object.service.external_support_url != '' %}
            <a class="btn btn-success {% if not can_add_support %}disabled{% endif %}"
               href="{% url 'service_catalog:instance_new_support' object.id %}">
                <i class="fas fa-link"></i> Open new support
            </a>
        {% else %}
            <a class="btn btn-success {% if not can_add_support %}disabled{% endif %}"
               href="{% url 'service_catalog:instance_new_support' object.id %}">
                <i class="fas fa-plus"></i> Open new support
            </a>
        {% endif %}
        {% has_perm request.user "service_catalog.change_instance" object as permission_edit %}
        {% if permission_edit %}
            <a href="{% url 'service_catalog:instance_edit' object.id %}"
               class="btn btn-primary">
                <i class="fas fa-pencil-alt"></i>
            </a>
        {% endif %}
        {% has_perm request.user "service_catalog.delete_instance" object as permission_delete %}
        {% if permission_delete %}

            <a href="{% url 'service_catalog:instance_delete' object.id %}"
               class="btn btn-danger">
                <i class="fas fa-trash"></i>
            </a>
        {% endif %}
    </div>
{% endblock %}
{% block custom_links %}
    <div class="float-right">
        {% load custom_links %}
        <div class="btn-toolbar">
            {% custom_links request.user object %}
        </div>
    </div>
{% endblock %}
{% block main %}
<div class="container-fluid">
    <div class="row">
        <section class="col-lg-3">
            <div class="card card-{{ object.state |map_instance_state }}">
                <div class="card-header">
                    <h3 class="card-title">Details</h3>
                </div>
                <div class="card-body">
                    <div class="text-center">
                        <img class="card-img-top" src="




                                {% if object.service.image %}{{ object.service.image.url }}{% else %}{% static '/squest/img/no_image.png' %}{% endif %}"
                             alt="Service image">
                    </div>
                    <ul class="list-group list-group-unbordered mb-3">
                        <li class="list-group-item">
                            <b>Name</b> <a class="float-right">{{ object.name }}</a>
                        </li>
                        <li class="list-group-item">
                            <b>Service</b>
                            {% has_perm request.user "service_catalog.change_service" object.service as can_edit_service %}

                            {% if can_edit_service %}
                                <a href="{% url 'service_catalog:service_edit' object.service.id %}"
                                   class="float-right">{{ object.service.name }}</a>
                            {% else %}
                                <a class="float-right">{{ object.service.name }}</a>
                            {% endif %}
                        </li>
                        <li class="list-group-item">
                            <b>State</b> <strong
                                class="float-right text-{{ object.state |map_instance_state }}">{{ object.state }}</strong>
                        </li>
                        <li class="list-group-item">
                            <b>Quota scope</b> <a href="{{ object.quota_scope.get_absolute_url }}"
                                                  class="float-right">{{ object.quota_scope }}</a>
                        </li>
                        <li class="list-group-item">
                            <b>RBAC scope</b>
                            {% for scope in object.get_scopes %}
                                <a class="float-right" href="{{ scope.get_absolute_url }}">
                                    {{ scope }}
                                </a> <br>
                            {% endfor %}
                        </li>
                        <li class="list-group-item">
                            <b>Requester</b> <a href="mailto:{{ object.requester.email }}"
                                                class="float-right">{{ object.requester.username }}</a>
                        </li>
                        {% has_perm request.user "resource_tracker_v2.change_resource" object as can_change_resource %}
                        {% if can_change_resource %}
                            <li class="list-group-item">
                                <b>Resources</b>
                                {% for resource in object.resources.all %}
                                    <a class="float-right"
                                       href="{% url 'resource_tracker_v2:resourcegroup_resource_edit' resource.resource_group.id resource.id %}">
                                        {{ resource.name }}
                                    </a> <br>
                                {% endfor %}
                            </li>
                        {% endif %}
                        <li class="list-group-item border-bottom-0">
                            <b>Docs</b>
                            {% for doc in object.docs %}
                                <a class="float-right" href="{% url 'service_catalog:doc_show' doc.id %}">
                                    {{ doc.title }}
                                </a> <br>
                            {% endfor %}
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <section class="col-lg-9">
            <div class="card">
                <div class="card-header p-2">
                    <ul class="nav nav-pills">
                        <li class="nav-item"><a class="nav-link active" href="#operations"
                                                data-toggle="tab">Operations</a>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="#support" data-toggle="tab">Support</a></li>
                        <li class="nav-item"><a class="nav-link" href="#spec" data-toggle="tab">Specs</a></li>
                        <li class="nav-item"><a class="nav-link" href="#requests" data-toggle="tab">Requests</a>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <div class="tab-content">
                        <div class="active tab-pane" id="operations">
                            {% if operations_table %}
                                {% if object.state == "AVAILABLE" %}
                                    {% render_table operations_table %}
                                {% else %}
                                    <p> Instance not available</p>
                                {% endif %}
                            {% else %}
                                <p> Permission <b>service_catalog.request_on_instance</b>
                                    required</p>
                            {% endif %}

                        </div>
                        <div class="tab-pane" id="support">
                            {% if object.service.external_support_url is not None and object.service.external_support_url != '' %}
                                <p class="text-muted">Supports for this service are redirected to an external
                                    tool</p>
                            {% elif supports_table %}
                                {% render_table supports_table %}
                            {% else %}
                                <p> Permission <b>service_catalog.view_support</b> required</p>
                            {% endif %}
                        </div>
                        <div class="tab-pane" id="spec">
                            <div class="wrapper d-flex flex-wrap">
                                <div class="card card-primary card-outline flex-grow-1 m-2">
                                    <div class="card-header">
                                        <h3 class="card-title">User spec</h3>
                                    </div>
                                    <div class="card-body pt-0 pb-0">
                                    <pre>
                                        <code style="border: 0; padding: 0; margin: 0;"
                                              class="language-json">{{ object.user_spec | pretty_json }}
                                        </code>
                                    </pre>
                                    </div>
                                </div>

                                {% has_perm request.user "service_catalog.view_admin_spec_instance" object as can_view_admin_spec_instance %}

                                {% if can_view_admin_spec_instance %}
                                <div class="card card-primary card-outline flex-grow-1 m-2">
                                        <div class="card-header">
                                            <h3 class="card-title">Admin spec</h3>
                                        </div>
                                    <div class="card-body pt-0 pb-0">
                                        <pre>
                                            <code style="border: 0; padding: 0; margin: 0;"
                                                  class="language-json">{{ object.spec | pretty_json }}
                                            </code>
                                        </pre>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>

                        <div class="tab-pane" id="requests">
                            {% if requests_table %}
                                {% render_table requests_table %}
                            {% else %}
                                <p> Permission <b>service_catalog.view_request</b> required</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
{% endblock %}
{% block custom_script %}
    <script>add_tab_management();</script>
{% endblock %}
