{% extends 'base.html' %}
{% block main %}
    <div class="container-fluid">
        <div class="row">
            <section class="col-lg-3">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Details</h3>
                    </div>
                    <div class="card-body">
                        <ul class="list-group list-group-unbordered mb-3">
                            <li class="list-group-item border-top-0">
                                <b>Name</b> <span class="float-right">{{ object.name }}</span>
                            </li>
                            <li class="list-group-item">
                                <b>Job template ID (Tower/AWX)</b> <a
                                    href="{{ object.tower_url }}"
                                    class="float-right">{{ object.tower_id }}</a>
                            </li>
                            <li class="list-group-item">
                                <b>Tower server name</b> <a
                                    href="{% url 'service_catalog:jobtemplate_list' object.tower_server.id  %}"
                                    class="float-right">{{ object.tower_server.name }}</a>
                            </li>
                            <li class="list-group-item border-bottom-0">
                                <b>Is compliant</b> <div class="float-right">{% include 'service_catalog/custom_columns/job_template_compliant.html' with record=object %}</div>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
            <section class="col-lg-9">
                <div class="card">
                    <div class="card-header p-2">
                        <ul class="nav nav-pills squest-default-active" id="tabs">
                            <li class="nav-item"><a class="nav-link" href="#survey" data-toggle="tab">Survey</a></li>
                            <li class="nav-item"><a class="nav-link" href="#data" data-toggle="tab">Data</a></li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="tab-pane" id="survey">
                                <pre><code class="language-json">{{ object.survey.spec | pretty_json}}</code></pre>
                            </div>
                            <div class="tab-pane" id="data">
                                <pre><code class="language-json">{{ object.tower_job_template_data | pretty_json}}</code></pre>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock %}
