{% extends 'base.html' %}
{% block title %}
    #{{ object.id }} | Request
{% endblock %}
{% load render_table from django_tables2 %}
{% load static %}
{% block header_button %}
    {% include 'service_catalog/buttons/request_state_machine.html' %}
    {% include 'generics/buttons/edit_button.html' %}
    {% include 'generics/buttons/delete_button.html' %}
{% endblock %}
{% block main %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3">
                {% include 'service_catalog/request_details/details_left.html' %}
            </div>
            <div class="col-lg-5">
                {% include 'service_catalog/request_details/approval.html' %}
            </div>
            <div class="col-lg-4">
                {% has_perm request.user "service_catalog.view_requestmessage" object as can_view_requestmessage %}
                {% if can_view_requestmessage %}
                    {% include 'service_catalog/request_details/request-messages.html' %}
                {% endif %}
            </div>
        </div>
    </div><!-- end container fluid -->
{% endblock %}
{% block custom_script %}
    <script>add_tab_management();</script>
{% endblock %}
