{% extends 'base.html' %}
{% block title %}
 #{{ target_request.id }} | Process
{%  endblock %}
{% block content %}
    <div class="content-wrapper" style="min-height: 278px;">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        {% include "generics/breadcrumbs.html" %}
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->
        <!-- Main content -->
        <div class="content">
            <div class="container-fluid">
                <div class="card card-success">
                    <div class="card-header">
                        <h3 class="card-title">Confirm process request</h3>
                    </div>
                    <div class="card-body">
                        {% if error_message %}
                            <div class="alert alert-danger" role="alert">
                                <i class="fas fa-exclamation-triangle"></i><strong> {{ error_message }}</strong>
                            </div>
                        {% endif %}
                        <div class="row">
                            <div class="col-12 col-sm-4">
                                <div class="info-box bg-light">
                                    <div class="info-box-content">
                                        <span class="info-box-text text-center text-muted">Type</span>
                                        <span class="info-box-number text-center text-{{ target_request.operation.type|map_operation_type }} mb-0">{{ target_request.operation.type }}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-4">
                                <div class="info-box bg-light">
                                    <div class="info-box-content">
                                        <span class="info-box-text text-center text-muted">Job template</span>
                                        <span class="info-box-number text-center text-muted mb-0">{{ target_request.operation.job_template.name }}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-4">
                                <div class="info-box bg-light">
                                    <div class="info-box-content">
                                        <span class="info-box-text text-center text-muted">Instance</span>
                                        <span class="info-box-number text-center text-muted mb-0">{{ target_request.instance.name }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% if target_request.full_survey %}
                            <div class="card bg-light">
                                <div class="card-header">
                                    <h3 class="card-title">Extra vars</h3>
                                </div>

                                <div class="card-body p-0">
                                    <table class="table table-sm">
                                        <thead>
                                        <tr>
                                            <th>Variable name</th>
                                            <th>Value</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for field,value in target_request.full_survey.items %}
                                            <tr>
                                                <td>{{ field }}</td>
                                                <td>{{ value }}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        {% endif %}
                        {% include "generics/form_edit.html" %}

                    </div>
                </div>
            </div><!-- end container fluid -->
        </div>
    </div>
    </div>
{% endblock %}
