{% extends 'base.html' %}

{% block content %}
    <!-- Main content -->
    <div class="content-wrapper">
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>All requests</h1>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>
        <div class="content">
            <div class="container-fluid">
                <div class="card">

                    <div class="card-body">
                        <table id="customer_request_list" class="table">
                            <thead>
                            <tr>
                                <th>Instance</th>
                                <th>User</th>
                                <th>Date submitted</th>
                                <th>Date complete</th>
                                <th>Service</th>
                                <th>Operation name</th>
                                <th>Operation type</th>
                                <th>State</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {%  for o_request in filter.qs %}
                                <tr>
                                    <td class="align-middle">
                                        <a href="">
                                            {{ o_request.instance.name }}
                                        </a>
                                    </td>
                                    <td class="align-middle">
                                        {{ o_request.user.username }}
                                    </td>
                                    <td class="align-middle">
                                        {{ o_request.date_submitted }}
                                    </td>
                                    <td class="align-middle">
                                        {{ o_request.date_complete }}
                                    </td>
                                    <td class="align-middle"><a href="{% url 'service_catalog:edit_service' o_request.instance.service.id %}">{{ o_request.instance.service.name }}</a></td>
                                    <td class="align-middle"><a href="{% url 'service_catalog:edit_service_operation' service_id=o_request.instance.service.id operation_id=o_request.operation.id %}">{{ o_request.operation.name }}</a></td>
                                    <td style="width: 10%" class="align-middle">
                                        <a href="{% url 'service_catalog:service_operations' o_request.instance.service.id %}" class="btn btn-{{ o_request.operation.type |map_operation_type }} btn-sm btn-block" {%  if o_request.fill_in_survey %}data-toggle="popover" title="{{ o_request.operation.job_template.name }}" data-content="{{ o_request.fill_in_survey }}{% endif %}">
                                            {{ o_request.operation.type }}
                                        </a>
                                    </td>
                                    <td style="width: 10%" class="align-middle"><h4><span class="badge bg-{{ o_request.state |map_request_state }} btn-block">{{ o_request.state }}</span></h4></td>
                                    <td class="align-middle">
                                        <div class="dropdown">
                                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            </button>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                {% if o_request.state == "NEED_INFO" %}
                                                    <a class="dropdown-item {{ o_request.id |is_action_dropdown_disabled:"re_submit" }}" href="{% url 'service_catalog:admin_request_re_submit' o_request.id %}"><span class="{{ o_request.id |get_action_text_class:"re_submit" }} fas fa-redo"></span> Reset to submitted</a>
                                                {% endif %}
                                                <a class="dropdown-item {{ o_request.id |is_action_dropdown_disabled:"cancel" }}" href="{% url 'service_catalog:admin_request_cancel' o_request.id %}"><span class="{{ o_request.id |get_action_text_class:"cancel" }} fas fa-window-close"></span> Cancel</a>
                                                <a class="dropdown-item {{ o_request.id |is_action_dropdown_disabled:"need_info" }}" href="{% url 'service_catalog:admin_request_need_info' o_request.id %}"><span class="{{ o_request.id |get_action_text_class:"need_info" }} fas fa-info-circle"></span> Ask more info</a>
                                                <a class="dropdown-item {{ o_request.id |is_action_dropdown_disabled:"reject" }}" href="{% url 'service_catalog:admin_request_reject' o_request.id %}"><span class="{{ o_request.id |get_action_text_class:"reject" }} fas fa-ban"></span> Reject</a>
                                                <a class="dropdown-item {{ o_request.id |is_action_dropdown_disabled:"accept" }}" href="{% url 'service_catalog:admin_request_accept' o_request.id %}"><span class="{{ o_request.id |get_action_text_class:"accept" }} fas fa-thumbs-up"></span> Accept</a>
                                                <a class="dropdown-item {{ o_request.id |is_action_dropdown_disabled:"process" }}" href="{% url 'service_catalog:admin_request_process' o_request.id %}"><span class="{{ o_request.id |get_action_text_class:"process" }} fas fa-play"></span> Process</a>
                                            </div>
                                            <a href="{% url 'service_catalog:admin_request_comment' o_request.id %}" class="btn btn-primary bg-sm" title="Comments">
                                                <i class="fas fa-comments"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            {%  endfor %}
                            </tbody>
                        </table>
                    </div>

                </div><!-- end container fluid -->
            </div>
        </div>
    </div>
{% endblock %}
