{% extends 'base.html' %}

{% block content %}

    <!-- Main content -->
    <div class="content-wrapper">
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        {% include "generics/breadcrumbs.html" %}
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>
        <div class="content">
            <div class="container-fluid">
                <div class="card">
                    <div class="card-body">
                        {% if form.errors %}
                            <div class="alert alert-danger" role="alert">
                                {% for field in form %}
                                    {% if field.errors %}
                                        <li><strong>{{ field.label }}:</strong> {{ field.errors|striptags }}</li>
                                    {% endif %}
                                {% endfor %}
                                {% if form.non_field_errors %}
                                    {{ form.non_field_errors }}
                                {% endif %}
                            </div>
                        {% endif %}
                        <form class="form-horizontal" action="{% url 'service_catalog:admin_request_need_info' target_request.id %}" method="post">{% csrf_token %}

                            {% for field in form %}
                                <div class="form-group {% if field.errors %}has-error{% endif %}">
                                    <label for="{{field.name}}" class="col-sm-2 control-label">
                                        {{ field.label }}
                                    </label>
                                    <div class="col-sm-4">
                                        {{ field }}
                                        {% if field.help_text %}
                                            <small id="emailHelp" class="form-text text-muted">{{ field.help_text|safe }}</small>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endfor %}

                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <!-- validate button -->
                                    <button class="btn btn-warning" type="submit">
                                        <i class="fas fa-info"></i> Ask for more info
                                    </button>
                                    <a class="btn btn-default" href="{% url 'service_catalog:admin_request_list' %}">Return</a>
                                </div>
                            </div>
                        </form>
                    </div>

                </div><!-- end container fluid -->
            </div>
        </div>
    </div>

{% endblock %}
