{% extends 'base.html' %}
{% load static %}
{% block main %}
    <div class="container-fluid">
        <div class="card  collapsed-card">
            <div class="card-header">
                <h3 class="card-title"><i class="fas fa-code"></i> Current specs</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-plus"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12 col-sm-6">
                        <strong>User spec</strong>
                        <pre><code class="language-json">{{ target_request.instance.user_spec | pretty_json }}</code></pre>
                    </div>
                    <div class="col-12 col-sm-6">
                        <strong>Admin spec</strong>
                        <pre><code class="language-json">{{ target_request.instance.spec | pretty_json }}</code></pre>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="card">
                    <div class="card-body">
                        {% if form.errors %}
                            <div class="alert alert-danger" role="alert">
                                {% for field in form %}
                                    {% if field.errors %}
                                        <li><strong>{{ field.label }}:</strong> {{ field.errors|striptags }}</li>
                                    {% endif %}
                                {% endfor %}
                                {% if form.non_field_errors %}
                                    {{ form.non_field_errors }}
                                {% endif %}
                            </div>
                        {% endif %}
                        <form class="form-horizontal"
                              action="{% url 'service_catalog:admin_request_accept' target_request.id %}"
                              method="post">{% csrf_token %}
                            {% regroup form|dictsort:"field.group" by field.group as field_groups %}
                            {% for field_group in field_groups %}
                                <h5 class="text-primary">{{ field_group.grouper }}</h5>
                                {% for field in field_group.list %}
                                    <div class="form-group {% if field.errors %}has-error{% endif %}">
                                        <label for="{{ field.name }}" class="control-label">
                                            {{ field.label }} {% if field.field.required %}<span class="text-danger">*</span>{% endif %}
                                        </label>
                                        <div>
                                            {{ field }}
                                            {% if field.help_text %}
                                                <small id="emailHelp"
                                                       class="form-text text-muted">{{ field.help_text|safe }}</small>
                                            {% endif %}
                                        </div>
                                    </div>
                                {% endfor %}
                            {% endfor %}
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button class="btn btn-primary" type="submit">
                                        <i class="fas fa-thumbs-up"></i> Accept the request
                                    </button>
                                </div>
                            </div>
                            <small class="form-text text-muted"><span class="text-danger">*</span> Required field</small>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card">
                    <div class="card-header p-2">
                        <h3 class="card-title">
                            <i class="fas fa-comments"></i> Comments
                        </h3>
                        <div class="card-tools">
                            <span title="state" class="badge bg-{{ target_request.state |map_request_state }} p-1 mr-2">{{ target_request.state }}</span>
                        </div>
                    </div>
                    <div class="card-body">
                        {% for message in comment_messages %}
                            <div class="post">
                                <div class="user-block">
                                    <img class="img-circle img-bordered-sm" src="{% if message.sender.is_superuser %}{% static '/squest/img/admin.png' %}{% else %}{% static '/squest/img/user.png' %}{% endif %}" alt="user image">
                                    <span class="username">
                                                <a href="#">{{ message.sender.username }}</a>
                                            </span>
                                    <span class="description">{{ message.last_update_date }}</span>
                                </div>
                                <!-- /.user-block -->
                                <p>
                                    {{ message.content|markdown }}
                                </p>
                            </div>
                        {%  endfor %}
                    </div>
                <div class="card-footer">
                    <a class="btn btn-primary" href="{% url 'service_catalog:request_comment' target_request.id %}"><i class="fas fa-comment"></i> Comments</a>
                </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
