<!DOCTYPE html>
<br lang="en">
<head>
    <meta charset="UTF-8">
</head>
<h2>Request: <a href="{{ current_site }}{% url 'service_catalog:request_details' request.id %}">#{{ request.id }}</a></h2>
<h4>Request details</h4>
<li>State: <b>{{ request.state }}</b></li>
{% if user_applied_state is not none %}
    <li>Applied by: <b>{{ user_applied_state.username }}</b></li>
{% endif %}
<li>Requester: <b>{{ request.user.username }}</b></li>
<li>Service: <b>{{ request.operation.service.name }}</b></li>
<li>Instance: <a href="{{ current_site }}{% url 'service_catalog:instance_details' request.instance.id %}"><b>{{ request.instance.name }}</b></a></li>
<li>Operation type: <b>{{ request.operation.type }}</b></li>
<li>Operation name: <b>{{ request.operation.name }}</b></li>
{% if request.tower_job_id is not None %}
<li>Tower job id: <a href="{{ request.tower_job_url }}"><b> {{ request.tower_job_id }}</b></a></li>
{%  endif %}
{% if message is not None %}
    <h4>Message</h4>
    <p>{{ message.content }}</p>
{%  endif %}
{% if request.state == 'SUBMITTED' %}
    <h4>Configuration</h4>
    {% for variable_name, variable_value in request.fill_in_survey.items %}
        <li><b>{{ variable_name }}:</b> {{ variable_value }}</li>
    {% endfor %}
    <br>
{% endif %}
{% if request.state == 'COMPLETE' %}
    <br>
    You may find attached documentation and on-boarding information for the requested service in your <a href="{{ current_site }}{% url 'service_catalog:instance_details' request.instance.id %}">instance details</a>.
{% endif %}
<br>
Retrieve this request on <a href="{{ current_site }}{% url 'service_catalog:request_details' request.id %}">Squest portal</a>.
</body>
</html>
