{% extends 'service_catalog/mails/mail_base.html' %}
{% block content %}


    <table style="font-family:arial,helvetica,sans-serif;" role="presentation" cellpadding="0"
           cellspacing="0" width="100%" border="0">
        <tbody>
        <tr>
            <td style="overflow-wrap:break-word;word-break:break-word;padding:10px;font-family:arial,helvetica,sans-serif;"
                align="left">

                <div>
                    <table cellspacing="0" cellpadding="0" border="0" width="100%">
                        <tr>
                            <td width="35%" align="left" bgcolor="#eeeeee"
                                style="font-family: Open Sans, Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 800; line-height: 24px; padding: 10px;">
                                Request
                            </td>
                            <td width="65%" align="left" bgcolor="#eeeeee"
                                style="font-family: Open Sans, Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 800; line-height: 24px; padding: 10px;">
                                <a href="{{ current_site }}{% url 'service_catalog:request_details' request.id %}">#{{ request.id }}</a>
                            </td>
                        </tr>
                        <tr>
                            <td width="25%" align="left"
                                style="font-family: Open Sans, Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 400; line-height: 24px; padding: 5px 10px;">
                                State
                            </td>
                            <td width="75%" align="left"
                                style="font-family: Open Sans, Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 400; line-height: 24px; padding: 5px 10px;">
                                {{ request.get_state_display }}
                            </td>
                        </tr>
                        {% if user_applied_state and user_applied_state is not None %}
                            <tr>
                                <td width="25%" align="left"
                                    style="font-family: Open Sans, Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 400; line-height: 24px; padding: 5px 10px;">
                                    Applied by
                                </td>
                                <td width="75%" align="left"
                                    style="font-family: Open Sans, Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 400; line-height: 24px; padding: 5px 10px;">
                                    {{ user_applied_state.username }}
                                </td>
                            </tr>
                        {% endif %}
                        <tr>
                            <td width="25%" align="left"
                                style="font-family: Open Sans, Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 400; line-height: 24px; padding: 5px 10px;">
                                Requester
                            </td>
                            <td width="75%" align="left"
                                style="font-family: Open Sans, Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 400; line-height: 24px; padding: 5px 10px;">
                                {{ request.user.username }}
                            </td>
                        </tr>
                        <tr>
                            <td width="25%" align="left"
                                style="font-family: Open Sans, Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 400; line-height: 24px; padding: 5px 10px;">
                                Service
                            </td>
                            <td width="75%" align="left"
                                style="font-family: Open Sans, Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 400; line-height: 24px; padding: 5px 10px;">
                                {{ request.operation.service.name }}
                            </td>
                        </tr>
                        <tr>
                            <td width="25%" align="left"
                                style="font-family: Open Sans, Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 400; line-height: 24px; padding: 5px 10px;">
                                Instance
                            </td>
                            <td width="75%" align="left"
                                style="font-family: Open Sans, Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 400; line-height: 24px; padding: 5px 10px;">
                                <a href="{{ current_site }}{% url 'service_catalog:instance_details' request.instance.id %}">{{ request.instance.name }}</a>
                            </td>
                        </tr>
                        <tr>
                            <td width="25%" align="left"
                                style="font-family: Open Sans, Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 400; line-height: 24px; padding: 5px 10px;">
                                Operation type
                            </td>
                            <td width="75%" align="left"
                                style="font-family: Open Sans, Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 400; line-height: 24px; padding: 5px 10px;">
                                {{ request.operation.type }}
                            </td>
                        </tr>
                        <tr>
                            <td width="25%" align="left"
                                style="font-family: Open Sans, Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 400; line-height: 24px; padding: 5px 10px;">
                                Operation name
                            </td>
                            <td width="75%" align="left"
                                style="font-family: Open Sans, Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 400; line-height: 24px; padding: 5px 10px;">
                                {{ request.operation.name }}
                            </td>
                        </tr>
                        {% if request.tower_job_id and request.tower_job_id is not None %}
                            <tr>
                                <td width="25%" align="left"
                                    style="font-family: Open Sans, Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 400; line-height: 24px; padding: 5px 10px;">
                                    Tower job
                                </td>
                                <td width="75%" align="left"
                                    style="font-family: Open Sans, Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 400; line-height: 24px; padding: 5px 10px;">
                                    <a href="{{ request.tower_job_url }}"><b> {{ request.tower_job_id }}</b></a>
                                </td>
                            </tr>
                        {% endif %}
                    </table>
                </div>

            </td>
        </tr>
        </tbody>
    </table>

    <!-- MESSAGE -->
    {% if message and message is not None %}
        {% include 'service_catalog/mails/utils/delimiter.html' %}
        {% include 'service_catalog/mails/utils/header.html' with title="Message" %}
        <p align="left" style="overflow-wrap:break-word;word-break:break-word;font-family:arial,helvetica,sans-serif;color: #00b389; font-weight: bold;" >
            {{ message.sender }}:
        </p>
        <p style="overflow-wrap:break-word;word-break:break-word;font-family:arial,helvetica,sans-serif;color: #00b389">
            {{ message.content }}
        </p>
    {% endif %}

    <!-- REQUEST SUBMITTED SHOW SURVEY -->
    {% if request.get_state_display == 'SUBMITTED' %}
        {% include 'service_catalog/mails/utils/delimiter.html' %}
        {% include 'service_catalog/mails/utils/header.html' with title="Survey" %}
        <table style="font-family:arial,helvetica,sans-serif;" role="presentation" cellpadding="0"
               cellspacing="0" width="100%" border="0">
            <tbody>
            <tr>
                <td style="overflow-wrap:break-word;word-break:break-word;padding:10px;font-family:arial,helvetica,sans-serif;"
                    align="left">

                    <div>
                        <table cellspacing="0" cellpadding="0" border="0" width="100%">
                            <td width="35%" align="left" bgcolor="#eeeeee"
                                style="font-family: Open Sans, Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 800; line-height: 24px; padding: 10px;">
                                Config
                            </td>
                            <td width="65%" align="left" bgcolor="#eeeeee"
                                style="font-family: Open Sans, Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 800; line-height: 24px; padding: 10px;">
                                Value
                            </td>

                            {% for variable_name, variable_value in request.fill_in_survey.items %}
                                <tr>
                                    <td width="35%" align="left"
                                        style="font-family: Open Sans, Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 400; line-height: 24px; padding: 5px 10px;">
                                        {{ variable_name }}
                                    </td>
                                    <td width="65%" align="left"
                                        style="font-family: Open Sans, Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 400; line-height: 24px; padding: 5px 10px;">
                                        {{ variable_value }}
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>

                </td>
            </tr>
            </tbody>
        </table>
    {% endif %}<!-- end SUBMITTED -->


    <!-- REQUEST COMPLETE SHOW DOCS AND USER SPECS -->
    {% if request.get_state_display == 'COMPLETE' %}
        {% include 'service_catalog/mails/utils/delimiter.html' %}
        {% include 'service_catalog/mails/utils/header.html' with title="Specs" %}

        <table style="font-family:arial,helvetica,sans-serif;" role="presentation" cellpadding="0"
               cellspacing="0" width="100%" border="0">
            <tbody>
            <tr>
                <td style="overflow-wrap:break-word;word-break:break-word;padding:10px;font-family:arial,helvetica,sans-serif;"
                    align="left">
                    <div>
                        <pre>{{ request.instance.user_spec | pretty_json }}</pre>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>

        <!-- DOCS -->
        {% include 'service_catalog/mails/utils/delimiter.html' %}
        {% include 'service_catalog/mails/utils/header.html' with title="Docs" %}

        <table style="font-family:arial,helvetica,sans-serif;" role="presentation" cellpadding="0"
               cellspacing="0" width="100%" border="0">
            <tbody>
            <tr>
                <td style="overflow-wrap:break-word;word-break:break-word;padding:10px;font-family:arial,helvetica,sans-serif;"
                    align="left">
                    <div style="color: #293c4b; line-height: 140%; text-align: center; word-wrap: break-word;">
                        <ul>
                            {% for doc in request.instance.service.docs.all %}
                                <li style="line-height: 19.6px; text-align: left;">
                                    <a rel="noopener" href="{{ current_site }}{% url 'service_catalog:doc_details' doc.id %}"
                                       target="_blank">{{ doc.title }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    {% endif %} <!-- end COMPLETE -->



{% endblock %}
