<!DOCTYPE html>
<br lang="en">
<head>
    <meta charset="UTF-8">
    <title>Request update</title>
</head>
<h2>Request state update: #{{ request.id }}</h2>

<li>New request state: <b>{{ request.state }}</b></li>
{% if user_applied_state is not none %}<li>Applied by: <b>{{ user_applied_state.username }}</b></li>{% endif %}
{% if message is not None %}
<li>Message: <b>{{ message }}</b></li>
{%  endif %}
<br>
<br>
Request details:<br>
<li>Requester: <b>{{ request.user.username }}</b></li>
<li>Service: <b>{{ request.operation.service.name }}</b></li>
<li>Instance: <b>{{ request.instance.name }}</b></li>
<li>Operation type: <b>{{ request.operation.type }}</b></li>
<li>Operation name: <b>{{ request.operation.name }}</b></li>
<br>
<br>
{% if request.state == 'COMPLETE' %}
    You may find attached documentation and on-boarding information for the requested service in your instance details on <a href="{{ current_site }}/instance/{{ request.instance.id }}/">Squest portal</a>.
{% else %}
    Retrieve this request on <a href="{{ current_site }}/request/">Squest portal</a>.
{% endif %}
</body>
</html>
