<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New request</title>
</head>
<h2>Error on request: #{{ request.id }}</h2><br>
<li>Reason: <b>{{ error_message }}</b></li>
<br>
<br>
Request details:<br>
<li>Requester: <b>{{ request.user.username }}</b></li>
<li>Service: <b>{{ request.operation.service.name }}</b></li>
<li>Instance: <b>{{ request.instance.name }}</b></li>
<li>Operation type: <b>{{ request.operation.type }}</b></li>
<li>Operation name: <b>{{ request.operation.name }}</b></li>
<br>
<br>

Retrieve this request on <a href="{{ current_site }}/request/">Squest portal</a>.
</body>
</html>
