<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New request</title>
</head>
<h2>New request submitted: #{{ request.id }}</h2>

<li>Requester: <b>{{ user_applied_state.username }}</b></li>
<li>Service: <b>{{ request.operation.service.name }}</b></li>
<li>Instance: <b>{{ request.instance.name }}</b></li>
<li>Operation type: <b>{{ request.operation.type }}</b></li>
<li>Operation name: <b>{{ request.operation.name }}</b></li>
<br>
<br>
Configuration:<br>
<ul style="list-style-type:circle">
    {% for variable_name, variable_value in request.fill_in_survey.items %}
        <li><b>{{ variable_name }}:</b> {{ variable_value }}</li>
    {% endfor %}
</ul>

Retrieve this request on <a href="{{ current_site }}/request/">Squest portal</a>.
</body>
</html>
