/*fix select button color*/
.btn-light{
    background-color: #343a40 !important;
    color: #fff !important;
}
.dtfc-fixed-left{
    background-color: #343a40 !important;
    z-index: 1;
}
input.form-control[disabled] {
  opacity: 0.4;
}
