.card-img-top {
    width: 100%;
    height: 10vw;
    object-fit: cover;
}

.disable_list_style, .disable_list_style li {
    list-style-type: none;
}

.sortable > thead > tr > th {
    cursor: pointer;
    position: relative;
}

.squest-pagination-tables > thead > tr {
    border-top: hidden;
}

.squest-pagination-tables > tbody > tr > td {
    vertical-align: middle !important;
}

.form-control-checkbox {
    height: calc(0.75em + 0.25rem + 1px);
    padding: 0.10rem 0.25rem;
    font-size: 0.875rem;
    line-height: 0.75;
    border-radius: 0.1rem;
    width: 10%;
}