{% extends 'base.html' %}
{% block title %}
    {{ attribute_definition.name }} | Attributes
{%  endblock %}
{% block content %}
    <div class="content-wrapper" style="min-height: 278px;">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        {% include "generics/breadcrumbs.html" %}
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->
        <!-- Main content -->
        <div class="content">
            <div class="container-fluid">
                <div class="card">
                    <div class="card-body">

                        {% if impacted_resource_group.count > 0 %}
                            <blockquote class="quote-warning">
                                <h5>Attribute in use</h5>
                                <p>This attribute is in use by following resource groups: </p>
                                <ul>
                                    {% for resource_group in impacted_resource_group.all %}
                                        <li>{{ resource_group.name }}</li>
                                    {% endfor %}
                                </ul>
                            </blockquote>
                        {% endif %}

                        <form action="{% url 'resource_tracker:attribute_definition_delete' object.id %}" method='POST'>{% csrf_token %}
                            <p>Do you want to delete the attribute definition "{{ object.name }}"?</p>
                            <button type="submit" class="btn btn-danger">Delete</button>
                            <a class="btn btn-default" href="{% url 'resource_tracker:attribute_definition_list' %}">Cancel</a>
                        </form>
                    </div>
                </div><!-- end container fluid -->
            </div>
        </div>
    </div>
{% endblock %}
