<a title="Synchronize {{ record.name }} from Tower/AWX"
   data-tower-id="{{ tower_id }}"
   data-job-template-id="{{ record.id }}"
   data-url-sync="{% url 'service_catalog:sync_job_template' tower_id record.id %}"
   data-url-job-template-detail="{% url 'api_admin_job_template_details' record.id %}"
   role="button" class="btn btn-default bg-sm ajax_sync_job_template">
    <i class="fas fa-sync"></i>
</a>
<a href="{% if  record.tower_server.secure %}https://{% else %}http://{% endif %}{{ record.tower_server.host }}/#/templates/job_template/{{ record.tower_id }}"
   class="btn btn-default bg-sm">
    <i class="fas fa-external-link-square-alt"></i>
</a>
<a href="{% url 'service_catalog:delete_job_template' tower_id=record.tower_server.id job_template_id=record.id %}"
   class="btn btn-danger bg-sm">
    <i class="fas fa-trash"></i>
</a>