{% with class_name=object|to_class_name|lower %}
    {% for group in record.groups.all %}
        {% has_perm request.user "profiles.view_role" group.role as can_view_role %}
        <div class="btn-group btn-group-sm">
            <a class="btn btn-secondary{% if not can_view_role %} disabled{% endif %}" href="{{ group.role.get_absolute_url }}">{{ group.role.name }} </a>
            <a title="Delete"
               href="{% url "profiles:"|add:class_name|add:"_rbac_delete" object.id group.role.id record.id %}"
               class="btn btn-secondary{% if not can_delete_user %} disabled{% endif %}">
                <i class="fas fa-times fa-xs"></i>
            </a>
        </div>
    {% endfor %}
{% endwith %}
