{% extends 'base.html' %}

{% block main %}
    <div class="container-fluid">
            <blockquote class="quote-warning mt-0 ml-0 mr-0">
                <h5> Warning</h5>
                <p>Manually editing an instance may break it. Use with caution.</p>
            </blockquote>
        <div class="card">
            <div class="card-body">
                {% include "generics/form_edit.html" with icon_button="fas fa-shopping-cart" text_button="Edit instance" color_button="success" %}
            </div>
        </div>
    </div>
{% endblock %}
