{% extends 'base.html' %}

{% block content %}
    <!-- Main content -->
    <div class="content-wrapper">
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>All instances</h1>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>
        <div class="content">
            <div class="container-fluid">
                <div class="card">

                    <div class="card-body">
                        <table id="customer_request_list" class="table">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Service type</th>
                                <th>Requests</th>
                                <th>Spec</th>
                                <th>State</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {%  for instance in filter.qs %}
                                <tr>
                                    <td class="align-middle">
                                        {{ instance.name }}
                                    </td>
                                    <td class="align-middle">
                                        <a href="{% url 'service_catalog:edit_service' instance.id %}?instance={{ instance.name }}">
                                            {{ instance.service.name }}
                                        </a>
                                    </td>
                                    <td class="align-middle">
                                        <a href="{% url 'service_catalog:admin_request_list'%}?instance={{ instance.name }}" class="btn btn-default bg-sm">
                                            {{ instance.request_set.all | length }}
                                        </a>
                                    </td>
                                    <td class="align-middle">
                                        {{ instance.spec }}
                                    </td>
                                    <td style="width: 10%" class="align-middle"><h4><span class="badge bg-{{ instance.state |map_instance_state }} btn-block">{{ instance.state }}</span></h4></td>

                                    <td class="align-middle">
                                        <a href="{% url 'service_catalog:admin_instance_details' instance.id %}" class="btn btn-info bg-sm">
                                            <i class="fas fa-edit"></i> Edit
                                        </a>
                                    </td>
                                </tr>
                            {%  endfor %}
                            </tbody>
                        </table>
                    </div>

                </div><!-- end container fluid -->
            </div>
        </div>
    </div>
{% endblock %}
