- name: Install Prometheus operator CRDs
  kubernetes.core.helm:
    kubeconfig: "{{ k8s_kubeconfig_path }}"
    name: prometheus-operator-crds
    release_namespace: kube-system
    chart_version: "{{ prometheus_operator_crds_chart_version }}"
    chart_ref: prometheus-operator-crds
    chart_repo_url: "https://prometheus-community.github.io/helm-charts"

- name: Wait until CSV installed
  kubernetes.core.k8s_info:
    kubeconfig: "{{ k8s_kubeconfig_path }}"
    api_version: "apiextensions.k8s.io/v1"
    kind: CustomResourceDefinition
    name: "prometheuses.monitoring.coreos.com"
    namespace: "default"
    wait: yes
    wait_sleep: 10
    wait_timeout: 600
    wait_condition:
      type: Established
      status: "True"

- name: Add helm repo for Cert Manager
  kubernetes.core.helm_repository:
    kubeconfig: "{{ k8s_kubeconfig_path }}"
    name: "jetstack"
    repo_url: "https://charts.jetstack.io"

- name: Install Cert Manager
  kubernetes.core.helm:
    kubeconfig: "{{ k8s_kubeconfig_path }}"
    name: cert-manager
    release_namespace: cert-manager
    create_namespace: true
    chart_version: "{{ cert_manager_chart_version }}"
    chart_ref: jetstack/cert-manager
    values:
      installCRDs: true

- name: Wait until CSV installed
  kubernetes.core.k8s_info:
    kubeconfig: "{{ k8s_kubeconfig_path }}"
    api_version: "apiextensions.k8s.io/v1"
    kind: CustomResourceDefinition
    name: "certificates.cert-manager.io"
    namespace: "default"
    wait: yes
    wait_sleep: 10
    wait_timeout: 600
    wait_condition:
      type: Established
      status: "True"

- name: Wait until Cert manager deployment available
  kubernetes.core.k8s_info:
    kubeconfig: "{{ k8s_kubeconfig_path }}"
    api_version: "apps/v1"
    kind: Deployment
    name: "cert-manager"
    namespace: "cert-manager"
    wait: yes
    wait_sleep: 10
    wait_timeout: 600
    wait_condition:
      type: Available
      status: "True"
