- name: Create a dedicated namespace for Squest
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: v1
      kind: Namespace
      metadata:
        name: "{{ squest_namespace }}"
  tags: ["namespace"]

- name: K8S utils
  ansible.builtin.include_tasks:
    file: 01-utils.yml
    apply:
      tags: ["utils"]
  tags: ["utils"]

- name: Squest db
  ansible.builtin.include_tasks:
    file: 02-db.yml
    apply:
      tags: ["db"]
  tags: ["db"]

- name: Squest rabbitmq
  ansible.builtin.include_tasks:
    file: 03-rabbitmq.yml
    apply:
      tags: ["rabbitmq"]
  tags: ["rabbitmq"]

- name: Squest redis
  ansible.builtin.include_tasks:
    file: 04-redis.yml
    apply:
      tags: ["redis"]
  tags: ["redis"]

- name: Squest Django
  ansible.builtin.include_tasks:
    file: 05-django.yml
    apply:
      tags: ["django"]
  tags: ["django"]

- name: Squest Celery
  ansible.builtin.include_tasks:
    file: 06-celery.yml
    apply:
      tags: ["celery"]
  tags: ["celery"]

- name: Squest maintenance nginx
  ansible.builtin.include_tasks:
    file: 07-maintenance.yml
    apply:
      tags: ["maintenance"]
  tags: ["maintenance"]

- name: Squest backup
  ansible.builtin.include_tasks:
    file: 08-backup.yml
    apply:
      tags: ["backup"]
  tags: ["backup"]
