{% extends 'base.html' %}

{% block content %}
    <div class="content-wrapper" style="min-height: 278px;">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Tower/AWX</h1>
                    </div>
                    <div class="col-sm-6">
                        <a class="btn btn-success float-sm-right" href="{% url 'service_catalog:add_tower' %}">
                            <i class="fas fa-plus"></i> Add
                        </a>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->
        <!-- Main content -->
        <div class="content">
            <div class="container-fluid">
                <div class="card">
                    <div class="card-body">
                        <table id="tower_list" class="table">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Host</th>
                                <th>Job templates</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {%  for tower_server in tower_servers %}
                                <tr>
                                    <td class="align-middle"><a href="{% url 'service_catalog:update_tower' tower_server.id %}">{{ tower_server.name }}</a></td>
                                    <td class="align-middle"><a href="{% if tower_server.secure %}https://{% else %}http://{%  endif %}{{ tower_server.url }}">
                                        {% if tower_server.secure %}https://{% else %}http://{%  endif %}{{ tower_server.host }}
                                    </a></td>
                                    <td class="align-middle">
                                        <a id="job_template_count_{{ tower_server.id }}" href="{% url 'service_catalog:tower_job_templates_list' tower_server.id %}" class="btn btn-default bg-sm">
                                            {{ tower_server.jobtemplate_set.all | length }}
                                        </a>
                                    </td>
                                    <td class="align-middle">
                                        <a id="tower_{{ tower_server.id }}" onclick="sync_all_job_template({{ tower_server.id }})" role="button" class="btn btn-default bg-sm">
                                            <i class="fas fa-sync"></i> Sync job templates
                                        </a>
                                        <a href="{% url 'service_catalog:update_tower' tower_server.id %}" class="btn btn-primary bg-sm">
                                            <i class="fas fa-edit"></i> Edit
                                        </a>
                                        <a href="{% url 'service_catalog:delete_tower' tower_server.id %}" class="btn btn-danger bg-sm">
                                            <i class="fas fa-trash"></i> Delete
                                        </a>
                                    </td>
                                </tr>
                            {%  endfor %}
                            </tbody>
                        </table>
                    </div>

                </div><!-- end container fluid -->
            </div>
        </div>
    </div>
{% endblock %}
