{% extends 'base.html' %}

{% block content %}
    <!-- Main content -->
    <div class="content-wrapper">
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>All requests</h1>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>
        <div class="content">
            <div class="container-fluid">
                <div class="card">

                    <div class="card-body">
                        <table id="customer_request_list" class="table">
                            <thead>
                            <tr>
                                <th>Instance</th>
                                <th>Service</th>
                                <th>Operation</th>
                                <th>State</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {%  for request in requests %}
                                <tr>
                                    <td class="align-middle">
                                        <a href="">
                                            {{ request.instance.name }}
                                        </a>
                                    </td>
                                    <td class="align-middle">{{ request.instance.service.name }}</td>
                                    <td class="align-middle">
                                        <a href="{% url 'service_operations' request.instance.service.id %}" class="btn btn-{{ request.operation.type |map_operation_type }} btn-sm" data-toggle="popover" title="{{ request.operation.job_template.name }}" data-content="{{ request.fill_in_survey | pprint }}">
                                            {{ request.operation.type }}
                                        </a>
                                    </td>
                                    <td class="align-middle"><h4><span class="badge bg-{{ request.state |map_request_state }}">{{ request.state }}</span></h4></td>
                                    <td class="align-middle">
                                        <div class="dropdown">
                                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            </button>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                <a class="dropdown-item {{ request.id |is_action_dropdown_disabled:"re_submit" }}" href="{% url 'admin_request_re_submit' request.id %}"><span class="{{ request.id |get_action_text_class:"re_submit" }} fas fa-redo"></span> Reset to submitted</a>
                                                <a class="dropdown-item {{ request.id |is_action_dropdown_disabled:"cancel" }}" href="{% url 'admin_request_cancel' request.id %}"><span class="{{ request.id |get_action_text_class:"cancel" }} fas fa-window-close"></span> Cancel</a>
                                                <a class="dropdown-item {{ request.id |is_action_dropdown_disabled:"need_info" }}" href="{% url 'admin_request_need_info' request.id %}"><span class="{{ request.id |get_action_text_class:"need_info" }} fas fa-info-circle"></span> Ask more info</a>
                                                <a class="dropdown-item {{ request.id |is_action_dropdown_disabled:"reject" }}" href="{% url 'admin_request_reject' request.id %}"><span class="{{ request.id |get_action_text_class:"reject" }} fas fa-ban"></span> Reject</a>
                                                <a class="dropdown-item {{ request.id |is_action_dropdown_disabled:"accept" }}" href="{% url 'admin_request_accept' request.id %}"><span class="{{ request.id |get_action_text_class:"accept" }} fas fa-thumbs-up"></span> Accept</a>
                                                <a class="dropdown-item {{ request.id |is_action_dropdown_disabled:"process" }}" href="{% url 'admin_request_process' request.id %}"><span class="{{ request.id |get_action_text_class:"process" }} fas fa-play"></span> Process</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            {%  endfor %}
                            </tbody>
                        </table>
                    </div>

                </div><!-- end container fluid -->
            </div>
        </div>
    </div>
{% endblock %}
