{% extends 'base.html' %}

{% block content %}
    <div class="content-wrapper" style="min-height: 278px;">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0">All requests</h1>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->
        <!-- Main content -->
        <div class="content">
            <div class="container-fluid">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Confirm cancel request</h3>
                    </div>
                    <div class="card-body">
                        <form action='' method='POST'>{% csrf_token %}
                            <p>Do you want to cancel the request?</p>
                            <button type="submit" class="btn btn-dark">
                                <i class="fas fa-window-close"></i> Cancel request
                            </button>
                            <a class="btn btn-default" href="{% url 'admin_request_list' %}">Return</a>
                        </form>
                    </div>
                </div><!-- end container fluid -->
            </div>
        </div>
    </div>
{% endblock %}
