{% extends 'base.html' %}

{% block content %}
    <div class="content-wrapper" style="min-height: 278px;">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        {% include "generics/breadcrumbs.html" %}
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->
        <!-- Main content -->
        <div class="content">
            <div class="container-fluid">
                <div class="callout callout-info">
                    <h5>Operation survey</h5>
                    <p><strong>Enabled:</strong> fields are displayed into the end user survey</p>
                    <p><strong>Default:</strong> can be left empty or filled with a <code>string</code> or a jinja template string. E.g: <code>&#123;&#123; user_spec.key &#125;&#125;</code> or <code>&#123;&#123; spec.key &#125;&#125;</code></p>
                    <p><strong>Validators:</strong> Admin provided field validator scripts</p>
                </div>
                <div class="card">
                    <div class="card-body">
                        <form class="form-horizontal" action="{% url 'service_catalog:service_operation_edit_survey' service_id=service.id operation_id=operation.id %}" method="post">{% csrf_token %}
                            {{ formset.management_form }}
                            {% for form in formset %}
                                <fieldset>
                                    <legend class="text-info"><strong>{{  form.instance.name }}</strong></legend>
                                    {{ form.as_p }}
                                </fieldset>
                                {% if not forloop.last %}
                                    <hr class="mt-2 mb-3"/>
                                {%  endif %}
                            {% endfor %}
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <!-- validate button -->
                                    <button class="btn btn-primary" type="submit">
                                        <i class="fas fa-plus"></i>
                                        Update survey
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
