{% extends 'base.html' %}

{% block content %}
    <div class="content-wrapper" style="min-height: 278px;">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        {% include "generics/breadcrumbs.html" %}
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->
        <!-- Main content -->
        <div class="content">
            <div class="container-fluid">
                <div class="card">
                    <div class="card-body">
                        <table id="job_template_list" class="table">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Actions</th>
                                <th>Extra vars enabled</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for job_template in job_templates %}
                                <tr>
                                    <td class="align-middle">{{ job_template.name }}</td>
                                    <td class="align-middle">
                                        <a href="{% if  job_template.tower_server.secure %}https://{% else %}http://{% endif %}{{ job_template.tower_server.host }}/#/templates/job_template/{{ job_template.tower_id }}"
                                           class="btn btn-default bg-sm">
                                            <i class="fas fa-external-link-square-alt"></i>
                                        </a>
                                        <a href="{% url 'service_catalog:delete_job_template' tower_id=job_template.tower_server.id job_template_id=job_template.id %}"
                                           class="btn btn-danger bg-sm">
                                            <i class="fas fa-trash"></i>
                                        </a>
                                    </td>
                                    <td id="ask_variables_on_launch_{{ job_template.id }}"
                                        class="align-middle">
                                        {% if job_template.ask_variables_on_launch %}
                                              <div class="custom-control custom-switch">
                                              <input checked type="checkbox" class=" fix_api custom-control-input"  data-id="ask_variables_on_launch_{{ job_template.id }}"
                                                   data-url="{% url 'fix_ask_variables_on_launch' pk=job_template.id %}"
                                                   data-template-name="{{ job_template.name }}" id=f"customSwitch{{ job_template.id }}">
                                              <label class=" custom-control-label" for=f"customSwitch{{ job_template.id }}"></label>
                                            </div>
                                        {% else %}
                                            <div class="custom-control custom-switch">
                                              <input type="checkbox" class=" fix_api custom-control-input"  data-id="ask_variables_on_launch_{{ job_template.id }}"
                                                   data-url="{% url 'fix_ask_variables_on_launch' pk=job_template.id %}"
                                                   data-template-name="{{ job_template.name }}" id=f"customSwitch{{ job_template.id }}">
                                              <label class=" custom-control-label" for=f"customSwitch{{ job_template.id }}"></label>
                                            </div>
                                        {% endif %}

                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div><!-- end container fluid -->
            </div>
        </div>
    </div>
    {% csrf_token %}
    <script>
        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    </script>
    <script>
        $(".fix_api").click(function () {
            var url = $(this).attr('data-url');
            var template_name = $(this).attr('data-template-name');
            var id = $(this).attr('data-id');
            var value = $(this).is(":checked")
            let data = {"ask_variables_on_launch": value}

            $.ajax({
                url: url,
                headers: {'X-CSRFToken': csrftoken},
                mode: 'same-origin',  // Do not send CSRF token to another domain.
                type: 'PATCH',
                data: JSON.stringify(data),
                contentType: 'application/json'
            }).done((data) => {
                $(document).Toasts('create', {
                    title: 'Update ask_variables_on_launch on ' + template_name,
                    body: 'Done',
                    autohide: true,
                    delay: 2000,
                    class: 'bg-info mr-3 my-3'
                });


            }).fail((data) => {
                console.error("Error during API call");
                $(document).Toasts('create', {
                    title: 'Fail to update ask_variables_on_launch on ' + template_name ,
                    body: 'Error',
                    autohide: true,
                    delay: 3000,
                    class: 'bg-danger mr-3 my-3'
                });
            })
        });
    </script>

{% endblock %}
