{% extends "base.html" %}

{% block content %}
    <div class="content-wrapper">
        <div class="content-header">
        </div>
        <section class="content">
            <div class="error-page align-content-center">
                <h2 class="headline text-warning text-center">404</h2>
                <div class="error-content align-content-center">
                    <h3><i class="fas fa-exclamation-triangle text-warning"></i>Not Found</h3>
                    <p>The requested resource was not found on this server.</p>
                </div>
            </div>
        </section>
    </div>

{% endblock %}
