{% load static %}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}">
    <!-- AdminLTE CSS -->
    <link rel="stylesheet" href="{% static 'admin-lte/dist/css/adminlte.css' %}">
    <!-- Datatable CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'datatables.net-jqui/css/dataTables.jqueryui.min.css' %}">
    <!-- Bootstrap select -->
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap-select/dist/css/bootstrap-select.min.css' %}">
    <!-- Tower Service Catalog -->
    <link rel="stylesheet" type="text/css" href="{% static 'squest/css/squest.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'squest/css/pygments.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static '/squest/img/squest_logo.png' %}"/>
    <!-- Tempus dominus -->
    <link href="{% static 'admin-lte/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css' %}"
          type="text/css" media="all" rel="stylesheet">
    <link href="{% static 'admin-lte/plugins/daterangepicker/daterangepicker.css' %}" type="text/css" media="all"
          rel="stylesheet">
    <!-- Chart.js -->
    <script src="{% static 'admin-lte/plugins/chart.js/Chart.min.js' %}"></script>
    <!-- Martor -->
    <link href="{% static 'plugins/css/ace.min.css' %}" type="text/css" media="all" rel="stylesheet"/>
    <link href="{% static 'martor/css/martor.bootstrap.min.css' %}" type="text/css" media="all" rel="stylesheet"/>
    <title>Squest</title>
</head>
<body class="sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
{% if 'login' not in request.path %}
    {% include 'navbar.html' %}
    {% include 'sidebar.html' %}
{% endif %}

<!-- Jquery -->
<script src="{% static 'jquery/dist/jquery.js' %}"></script>
{% block content %}
    <div class="content-wrapper" style="min-height: 278px;">
        {% block header %}
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            {% include "generics/breadcrumbs.html" %}
                        </div>
                        <div class="col-sm-6">

                            {% block header_button %}{% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}
        <div class="content">
            {% block main %}{% endblock %}
        </div>
    </div>

{% endblock %}

<!-- Footer -->
{% if 'login' not in request.path %}
    <footer class="main-footer">
        <div class="d-sm-inline justify-content-around">
            <a class="text-secondary" href="https://hewlettpackard.github.io/squest/latest"><i class="fas fa-book"></i>
                Docs</a>
            <a class="text-secondary" href="{% url 'schema-swagger-ui' %}"><i class="fas fa-laptop-code"></i> API</a>
            <a class="text-secondary" href="https://github.com/HewlettPackard/squest"><i class="fas fa-code"></i>
                Code</a>
            <a class="text-secondary" href="https://gitter.im/HewlettPackard/squest"><i class="fas fa-comments"></i>
                Community chat</a>
        </div>
        {% load version %}
        <div class="float-right d-none d-sm-inline">v{% app_version %}</div>
    </footer>
{% endif %}

<!-- Bootstrap -->
<script src="{% static 'bootstrap/dist/js/bootstrap.bundle.js' %}"></script>
<!-- adminlte -->
<script src="{% static 'admin-lte/dist/js/adminlte.js' %}"></script>
<!-- Datatables -->
<script src="{% static 'datatables.net/js/jquery.dataTables.min.js' %}"></script>
<!-- Font Awesome Free -->
<script src="{% static '@fortawesome/fontawesome-free/js/all.js' %}"></script>
<!-- Bootstrap select -->
<script src="{% static 'bootstrap-select/dist/js/bootstrap-select.js' %}"></script>
<!-- Tower Service Catalog -->
<script src="{% static 'squest/js/squest.js' %}"></script>
</body>
</html>
