{% extends 'base.html' %}
{% block title %}
    Global Permission
{% endblock %}
{% load render_table from django_tables2 %}
{% load static %}
{% block extra_header_button %}
    {% has_perm request.user "profiles.add_users_globalpermission" object as can_add_users %}
    <a href="{% url 'profiles:globalpermission_rbac_create' object.id %}"
       class="btn btn-success{% if not can_add_users %} disabled{% endif %}"> <i class="fas fa-plus"></i> Add users
    </a>
{% endblock %}
{% block header_button %}
    {% has_perm request.user "profiles.change_globalpermission" object as can_change_global_perm %}
    <a href="{% url 'profiles:globalpermission_edit' %}"
       class="btn btn-primary">
        <i class="fas fa-pencil-alt {% if not can_change %} disabled{% endif %}"></i>
    </a>
{% endblock %}

{% block main %}
    {% has_perm request.user "profiles.delete_users_globalpermission" object as can_delete_user %} {# For UserRoleTable actions #}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header p-2">
                        <ul class="nav nav-pills" id="tabs">
                            <li class="nav-item"><a class="nav-link active" href="#users" data-toggle="tab">Users</a>
                            </li>
                            <li class="nav-item"><a class="nav-link" href="#user_permissions" data-toggle="tab">User
                                permissions</a></li>

                        </ul>
                    </div>
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="tab-pane active" id="users">
                                {% render_table users %}
                            </div>
                            <div class="tab-pane" id="user_permissions">
                                {% render_table user_permissions %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block custom_script %}
    <script>add_tab_management();</script>
{% endblock %}
