{% extends 'base.html' %}
{% block title %}
    Default permissions
{% endblock %}
{% load render_table from django_tables2 %}
{% load static %}
{% block header_button %}
    {% has_perm request.user "profiles.change_globalpermission" object as can_change_global_perm %}
    {% if can_change_global_perm %}
        <a href="{% url 'profiles:globalpermission_edit' %}"
           class="btn btn-primary">
            <i class="fas fa-pencil-alt"></i>
        </a>
    {% endif %}
{% endblock %}

{% block main %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="callout callout-info">
                            List of permissions granted to all users
                        </div>
                        {% render_table default_permissions %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block custom_script %}
    <script>add_tab_management();</script>
{% endblock %}
