{% extends 'base.html' %}
{% block title %}
    #{{ object.id }} | Organization
{% endblock %}
{% load render_table from django_tables2 %}
{% load static %}

{% block extra_header_button %}
    {% has_perm request.user "profiles.add_users_organization" object as can_add_user_in_organization %}
    {% has_perm request.user "profiles.add_team" object as can_add_team %}
    {% has_perm request.user "profiles.change_organization_quota" object as can_change_quota %}
    {% if can_change_quota %}
        <a href="{% url 'profiles:organization_quota_edit' object.id %}"
           class="btn btn-primary">
            <i class="fas fa-chart-pie"></i> Set quotas
        </a>
    {% endif %}

    {% if can_add_user_in_organization %}
        <a href="{% url 'profiles:organization_rbac_create' object.id %}"
           class="btn btn-success">
            <i class="fas fa-user-plus"></i> Add roles/users
        </a>
    {% endif %}

    {% if can_add_team %}
        <a href="{% url 'profiles:team_create' %}?org={{ object.id }}"
           class="btn btn-success">
            <i class="fas fa-users"></i> Add team
        </a>
    {% endif %}

{% endblock %}

{% block header_button %}
    {% include 'generics/buttons/edit_button.html' %}
    {% include 'generics/buttons/delete_button.html' %}
{% endblock %}

{% block main %}
    {% has_perm request.user "profiles.delete_users_organization" object as can_delete_user %}
    <div class="container-fluid">
        <div class="row">
            <section class="col-lg-3">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title"><b>{{ object.name }}</b></h3>
                    </div>
                    <div class="card-body pt-0 pb-0">
                        <ul class="list-group list-group-unbordered">
                            {% if object.description %}
                                <li class="list-group-item border-top-0 border-bottom-0" >
                                    <strong>Description</strong><br>
                                    {{ object.description }}
                                </li>
                            {% endif %}
                            <li class="list-group-item border-top-0 border-bottom-0">
                                <a href="{% url 'service_catalog:instance_list' %}?quota_scope={{ object.id }}">View instances</a>
                            </li>
                            <li class="list-group-item border-top-0 border-bottom-0">
                                <a href="{% url 'service_catalog:request_list' %}?instance__quota_scope={{ object.id }}">View requests</a>
                            </li>
                        </ul>
                    </div>

                </div>
            </section>
            <section class="col-lg-9">
                <div class="card">
                    <div class="card-header p-2">
                        <ul class="nav nav-pills squest-default-active" id="tabs">
                            {% if quotas %}
                                <li class="nav-item">
                                    <a class="nav-link" href="#quotas" data-toggle="tab">Quotas</a>
                                </li>
                            {% endif %}
                            <li class="nav-item">
                                <a class="nav-link" href="#roles" data-toggle="tab">Roles</a>
                            </li>
                            {% if users %}
                                <li class="nav-item">
                                    <a class="nav-link" href="#users" data-toggle="tab">Users</a>
                                </li>
                            {% endif %}
                            {% if teams %}
                                <li class="nav-item">
                                    <a class="nav-link" href="#teams" data-toggle="tab">Teams</a>
                                </li>
                            {% endif %}
                            {% if workflows %}
                                <li class="nav-item">
                                    <a class="nav-link" href="#workflows" data-toggle="tab">Workflows</a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="tab-pane" id="roles">
                                <div class="callout callout-info">
                                    List of roles granted to all organization users
                                </div>
                                {% render_table roles %}
                            </div>
                            <div class="tab-pane" id="users">
                                {% if users %}
                                    {% render_table users %}
                                {% endif %}
                            </div>
                            <div class="tab-pane" id="teams">
                                {% if teams %}
                                    {% render_table teams %}
                                {% endif %}
                            </div>
                            <div class="tab-pane" id="quotas">
                                {% if quotas %}
                                    {% render_table quotas %}
                                {% endif %}
                            </div>
                            <div class="tab-pane" id="workflows">
                                {% if workflows %}
                                    {% render_table workflows %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock %}
{% block custom_script %}
    <script>add_tab_management();</script>
{% endblock %}
