{% extends 'base.html' %}
{% block title %}
    #{{ object.id }} | Organization
{% endblock %}
{% load render_table from django_tables2 %}
{% load static %}
{% block header_button %}
    {% if request.user.is_superuser %}
        <div class="float-right">
            <a href="{% url 'profiles:organization_quota_edit' object.id %}"
               class="btn btn-primary"> <i class="fas fa-chart-pie"></i> Set quotas
            </a>
            <a href="{% url 'profiles:organization_rbac_create' object.id %}"
               class="btn btn-success"> <i class="fas fa-plus"></i> Add users
            </a>
            <a href="{% url 'profiles:organization_team_create' object.id %}"
               class="btn btn-success"> <i class="fas fa-plus"></i> Create team
            </a>
            <a href="{% url 'profiles:organization_edit' object.id %}"
               class="btn btn-primary">
                <i class="fas fa-pencil-alt"></i>
            </a>
            <a href="{% url 'profiles:organization_delete' object.id %}"
               class="btn btn-danger">
                <i class="fas fa-trash"></i>
            </a>
        </div>
    {% endif %}
{% endblock %}

{% block main %}
    <div class="container-fluid">
        <div class="row">
            <section class="col-lg-3">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">{{ object.name }}</h3>
                    </div>
                    <div class="card-body">
                        <strong><i class="far fa-file-alt mr-1"></i> Description</strong>
                        <p class="text-muted">{{ object.description }}</p>
                    </div>

                </div>
            </section>
            <section class="col-lg-9">
                <div class="card">
                    <div class="card-header p-2">
                        <ul class="nav nav-pills" id="tabs">
                            <li class="nav-item"><a class="nav-link active" href="#users" data-toggle="tab">Users</a>
                            </li>
                            <li class="nav-item"><a class="nav-link" href="#teams" data-toggle="tab">Teams</a></li>
                            <li class="nav-item"><a class="nav-link" href="#roles" data-toggle="tab">Roles</a></li>
                            <li class="nav-item"><a class="nav-link" href="#quotas" data-toggle="tab">Quotas</a></li>

                        </ul>
                    </div>
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="tab-pane active" id="users">
                                {% render_table users %}
                            </div>
                            <div class="tab-pane" id="teams">
                                {% render_table teams %}
                            </div>
                            <div class="tab-pane" id="roles">
                                {% render_table roles %}
                            </div>
                            <div class="tab-pane" id="quotas">
                                {% render_table quotas %}
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock %}
{% block custom_script %}
    <script>add_tab_management();</script>
{% endblock %}
