{% extends 'base.html' %}
{% block title %}
    #{{ object.id }} | Organization
{% endblock %}
{% load render_table from django_tables2 %}
{% load static %}
{% block header_button %}
    {% has_perm request.user "profiles.add_users_organization" object as can_add_user_in_organization %}
    {% has_perm request.user "profiles.add_team" object as can_add_team %}
    {% has_perm request.user "profiles.change_quota" object as can_change_quota %}

    <span {% if not can_change_quota %}title="Permission profiles.change_quota needed"{% endif %}>
            <a href="{% url 'profiles:organization_quota_edit' object.id %}"
               class="btn btn-primary{% if not can_change_quota %} disabled{% endif %}">
                <i class="fas fa-chart-pie"></i>Set quotas
            </a>
        </span>

    <span {% if not can_add_user_in_organization %}title="Permission profiles.add_users_organization needed"{% endif %}>
            <a href="{% url 'profiles:organization_rbac_create' object.id %}"
               class="btn btn-success{% if not can_add_user_in_organization %} disabled{% endif %}">
                <i class="fas fa-plus"></i> Add users
            </a>
        </span>

    <span {% if not can_add_team %}title="Permission profiles.add_team needed"{% endif %}>
            <a href="{% url 'profiles:team_create' %}"
               class="btn btn-success{% if not can_add_team %} disabled{% endif %}">
                <i class="fas fa-plus"></i> Create team
            </a>
    </span>

    {% include 'generics/buttons/edit_button.html' %}
    {% include 'generics/buttons/delete_button.html' %}
{% endblock %}

{% block main %}
    <div class="container-fluid">
        <div class="row">
            <section class="col-lg-3">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title"><b>{{ object.name }}</b></h3>
                    </div>
                    <div class="card-body pt-0 pb-0">
                        <ul class="list-group list-group-unbordered">
                            <li class="list-group-item">
                                <u>Description</u>
                                <p class="float-right">{{ object.description }}</p>
                            </li>
                        </ul>
                    </div>

                </div>
            </section>
            <section class="col-lg-9">
                <div class="card">
                    <div class="card-header p-2">
                        <ul class="nav nav-pills" id="tabs">
                            <li class="nav-item"><a class="nav-link active" href="#users" data-toggle="tab">Users</a>
                            </li>
                            <li class="nav-item"><a class="nav-link" href="#teams" data-toggle="tab">Teams</a></li>
                            <li class="nav-item"><a class="nav-link" href="#roles" data-toggle="tab">Roles</a></li>
                            <li class="nav-item"><a class="nav-link" href="#quotas" data-toggle="tab">Quotas</a></li>

                        </ul>
                    </div>
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="tab-pane active" id="users">
                                {% if users %}
                                    {% render_table users %}
                                {% else %}
                                    <p> Permission <b>profiles.view_users_organization</b> required</p>
                                {% endif %}
                            </div>
                            <div class="tab-pane" id="teams">
                                {% render_table teams %}
                            </div>
                            <div class="tab-pane" id="roles">
                                {% render_table roles %}
                            </div>
                            <div class="tab-pane" id="quotas">
                                {% render_table quotas %}
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock %}
{% block custom_script %}
    <script>add_tab_management();</script>
{% endblock %}
