{% extends "base.html" %}
{% block title %}
    Profile
{% endblock %}
{% load render_table from django_tables2 %}

{% block main %}
    <div class="container-fluid">
        <div class="card">
            <div class="card-header p-2">
                <ul class="nav nav-pills squest-default-active" id="tabs">
                    <li class="nav-item">
                        <a href="#details" data-toggle="tab" class="nav-link">Details</a>
                    </li>
                    <li class="nav-item">
                        <a href="#tokens" data-toggle="tab" class="nav-link">Tokens</a>
                    </li>
                    <li class="nav-item">
                        <a href="#request-notifications" data-toggle="tab" class="nav-link">Request notifications</a>
                    </li>
                    <li class="nav-item">
                        <a href="#support-notifications" data-toggle="tab" class="nav-link">Support notifications</a>
                    </li>
                </ul>
            </div>
            <div class="card-body">
                <div class="tab-content">
                    <div id="details" class="tab-pane">
                        <dl class="row">
                            <div class="col-md-6">
                                <dt class="col-sm-4">Username</dt>
                                <dd class="col-sm-8">{{ user.get_username }}</dd>
                            </div>
                            <div class="col-md-6">
                                <dt class="col-sm-4">Email</dt>
                                <dd class="col-sm-8">{{ user.email }}</dd>
                            </div>
                        </dl>
                        <dl class="row">
                            <div class="col-md-6">
                                <dt class="col-sm-4">First name</dt>
                                <dd class="col-sm-8">{{ user.get_short_name }}</dd>
                            </div>
                            <div class="col-md-6">
                                <dt class="col-sm-4">Last Name</dt>
                                <dd class="col-sm-8">{{ user.last_name }}</dd>
                            </div>
                        </dl>
                        <dl class="row">
                            <div class="col-md-6">
                                <dt class="col-sm-4">Last login</dt>
                                <dd class="col-sm-8">{{ user.last_login }}</dd>
                            </div>
                            <div class="col-md-6">
                                <dt class="col-sm-4">Created</dt>
                                <dd class="col-sm-8">{{ user.date_joined }}</dd>
                            </div>
                        </dl>
                    </div>
                    <div id="tokens" class="tab-pane">
                        <a title="Create a new token" class="btn btn-success float-sm-right mb-2"
                           href="{% url "profiles:token_create" %}">
                            <i class="fas fa-plus"></i> Add token
                        </a>
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Description</th>
                                <th>Created date</th>
                                <th>Expiration date</th>
                                <th>Key</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for token in tokens %}
                                <tr>
                                    <td class="align-middle">{{ token.description }}</td>
                                    <td class="align-middle">{{ token.created }}</td>
                                    <td class="align-middle">{{ token.expires }}</td>
                                    <td class="align-middle">{{ token }}</td>
                                    <td class="align-middle">
                                                <span title="Show key"
                                                      data-toggle="modal" data-target="#tokenDialog"
                                                      data-token="{{ token.key }}"
                                                      class="btn btn-secondary showButton">
                                                    <i class="fas fa-eye"></i>
                                                </span>
                                        <a title="Generate another key"
                                           class="btn btn-info"
                                           href="{% url "profiles:token_generate" token.id %}">
                                            <i class="fas fa-sync-alt"></i>
                                        </a>
                                        <a title="Edit"
                                           class="btn btn-primary"
                                           href="{% url "profiles:token_edit" token.id %}">
                                            <i class="fas fa-pencil-alt"></i>
                                        </a>
                                        <a title="Delete"
                                           class="btn btn-danger"
                                           href="{% url "profiles:token_delete" token.id %}">
                                            <i class="fas fa-trash"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div id="request-notifications" class="tab-pane">
                        <dl class="row">
                            <div class="col-md-3 col-6">
                                <div class="small-box bg{% if user.profile.request_notification_enabled %}-success{% else %}-gray{% endif %}">
                                    <div class="inner">
                                        <p><strong>Request</strong> notifications are <strong>
                                            {% if user.profile.request_notification_enabled %}enabled{% else %}
                                                disabled{% endif %}</strong></p>
                                    </div>
                                    <div class="icon">
                                        <i class="fas fa-bell{% if not user.profile.request_notification_enabled %}-slash{% endif %}"></i>
                                    </div>
                                    <a href="{% url "profiles:requestnotification_switch" %}" class="small-box-footer">
                                        {% if user.profile.request_notification_enabled %}Disable{% else %}
                                            Enable{% endif %} <i
                                            class="fas fa-bell{% if user.profile.request_notification_enabled %}-slash{% endif %}"></i>
                                    </a>
                                </div>
                            </div>
                        </dl>
                        <div class="row">
                            <div class="col-12">
                                <a title="Add a notification filter" class="btn btn-default mb-2"
                                   href="{% url "profiles:requestnotification_create" %}">
                                    <i class="fas fa-plus"></i> Add a request notification filter
                                </a>
                                {% if request.user.profile.request_notification_filters.count == 0 %}
                                    <div class="callout callout-warning mt-3">
                                        <h5><i class="fas fa-info"></i> Note:</h5>
                                        You haven't created any request filters. You will receive all notifications.
                                    </div>
                                {% else %}
                                    {% with object_name='request_notification' %}
                                        {% render_table request_filter_table %}
                                    {% endwith %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div id="support-notifications" class="tab-pane">
                        <dl class="row">
                            <div class="col-md-3 col-6">
                                <div class="small-box bg{% if user.profile.instance_notification_enabled %}-success{% else %}-gray{% endif %}">
                                    <div class="inner">
                                        <p><strong>Support</strong> notifications are <strong>
                                            {% if user.profile.instance_notification_enabled %}enabled{% else %}
                                                disabled{% endif %}</strong></p>
                                    </div>
                                    <div class="icon">
                                        <i class="fas fa-bell{% if not user.profile.instance_notification_enabled %}-slash{% endif %}"></i>
                                    </div>
                                    <a href="{% url "profiles:support_notification_switch" %}" class="small-box-footer">
                                        {% if user.profile.instance_notification_enabled %}Disable{% else %}
                                            Enable{% endif %} <i
                                            class="fas fa-bell{% if user.profile.instance_notification_enabled %}-slash{% endif %}"></i>
                                    </a>
                                </div>
                            </div>
                        </dl>
                        <div class="row">
                            <div class="col-12">
                                <a title="Add a notification filter" class="btn btn-default mb-2"
                                   href="{% url "profiles:instancenotification_create" %}">
                                    <i class="fas fa-plus"></i> Add a support notification filter
                                </a>
                                {% if request.user.profile.instance_notification_filters.count == 0 %}
                                    <div class="callout callout-warning mt-3">
                                        <h5><i class="fas fa-info"></i> Note:</h5>
                                        You haven't created any support filters. You will receive all notifications.
                                    </div>
                                {% else %}
                                    {% with object_name='support_notification' %}
                                        {% render_table support_filter_table %}
                                    {% endwith %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="tokenDialog" tabindex="-1" role="dialog" aria-labelledby="tokenDialogLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="tokenDialogLabel">Token</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p id="tokenKey"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block custom_script %}
    <script>
        $('#tokenDialog').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget)
            var recipient = button.data('token')
            $('#tokenKey').text(recipient)
        });
        add_tab_management();
    </script>
{% endblock %}
