{% extends 'base.html' %}
{% block title %}
    #{{ object.id }} | Role
{% endblock %}
{% load render_table from django_tables2 %}
{% load static %}
{% block header_button %}
    {% include 'generics/buttons/edit_button.html' %}
    {% include 'generics/buttons/delete_button.html' %}
{% endblock %}

{% block main %}
    {% has_perm request.user "profiles.view_rbac" as can_view_rbac %}

    <div class="container-fluid">
        <div class="row">
            <section class="col-lg-3">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title"><b>{{ object.name }}</b></h3>
                    </div>
                    <div class="card-body">
                        <ul class="list-group list-group-unbordered">
                            <li class="list-group-item border-top-0 border-bottom-0">
                                <strong>Description</strong><br>
                                {{ object.description }}
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
            <section class="col-lg-9">
                <div class="card">
                    <div class="card-header p-2">
                        <ul class="nav nav-pills squest-default-active" id="tabs">
                            <li class="nav-item">
                                <a class="nav-link" href="#permissions" data-toggle="tab">Permissions</a>
                            </li>
                            {% if can_view_rbac %}
                                <li class="nav-item">
                                    <a class="nav-link" href="#rbac" data-toggle="tab">RBAC usage</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#default-roles" data-toggle="tab">Default role usage</a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="tab-pane" id="permissions">
                                {% render_table permissions_table %}
                            </div>
                            {% if can_view_rbac %}
                                <div class="tab-pane" id="rbac">
                                    <div class="callout callout-info">
                                        Assignment trough Org/Team RBAC
                                    </div>
                                    {% if rbac_assignement_user_table %}
                                        {% render_table rbac_assignement_user_table %}
                                    {% endif %}
                                </div>
                                <div class="tab-pane" id="default-roles">
                                    <div class="callout callout-info">
                                        Used in default roles
                                    </div>
                                    {% if rbac_assignement_scope_table %}
                                        {% render_table rbac_assignement_scope_table %}
                                    {% endif %}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </section>

        </div>
    </div>
{% endblock %}
{% block custom_script %}
    <script>add_tab_management();</script>
{% endblock %}
