{% extends 'base.html' %}

{% block content %}
    <div class="content-wrapper" style="min-height: 278px;">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        {% include "generics/breadcrumbs.html" %}
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->
        <!-- Main content -->
        <div class="content">
            <div class="container-fluid">
                <div class="card">
                    <div class="card-body">
                        {% include "generics/form_edit.html" %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% load static %}
    <script src="{% static 'admin-lte/plugins/daterangepicker/daterangepicker.js' %}"></script>
    <script src="{% static 'admin-lte/plugins/moment/moment.min.js' %}"></script>
    <script src="{% static 'admin-lte/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.js' %}"></script>
{% endblock %}
