{% extends 'base.html' %}

{% block content %}
    <div class="content-wrapper" style="min-height: 278px;">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Announcement</h1>
                    </div>
                    <div class="col-sm-6">
                        <a class="btn btn-success float-sm-right" href="{% url 'service_catalog:announcement_create' %}">
                            <i class="fas fa-plus"></i> Add announcement
                        </a>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->
        <!-- Main content -->
        <div class="content">
            <div class="container-fluid">
                <div class="card">
                    <div class="card-body">
                        <table id="service_list" class="table">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Date start</th>
                                <th>Date stop</th>
                                <th>Owner</th>
                                <th>Type</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {%  for announcement in announcements %}
                                <tr>
                                    <td class="align-middle">{{ announcement.title }}</td>
                                    <td class="align-middle">{{ announcement.date_start }}</td>
                                    <td class="align-middle">{{ announcement.date_stop }}</td>
                                    <td class="align-middle">{{ announcement.created_by }}</td>
                                    <td style="width: 10%" class="align-middle">
                                        <h4><span class="badge bg-{{ announcement.type |lower }} btn-block">{{ announcement.type }}</span></h4>
                                    </td>
                                    <td class="align-middle">
                                        <a href="{% url "service_catalog:announcement_edit" announcement.id %}" class="btn btn-primary bg-sm">
                                            <i class="fas fa-edit"></i> Edit
                                        </a>
                                        <a href="{% url "service_catalog:announcement_delete" announcement.id %}" class="btn btn-danger bg-sm">
                                            <i class="fas fa-trash"></i> Delete
                                        </a>
                                    </td>
                                </tr>
                            {%  endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
