{% extends 'base.html' %}
{% block title %}
{{ object.username }} | User
{%  endblock %}
{% load render_table from django_tables2 %}
{% load static %}
{% block main %}
    <div class="container-fluid">
        <div class="row">
            <section class="col">
                <div class="card">
                    <div class="card-header p-2">
                        <ul class="nav nav-pills squest-default-active" id="tabs">
                            <li class="nav-item"><a class="nav-link" href="#instances" data-toggle="tab">Instances</a></li>
                            <li class="nav-item"><a class="nav-link" href="#requests" data-toggle="tab">Requests</a></li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="tab-pane" id="instances">
                                {% render_table instances %}
                            </div>
                            <div class="tab-pane" id="requests">
                                {% render_table requests %}
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock %}
{% block custom_script %}
    <script>add_tab_management();</script>
{% endblock %}
