{% extends 'base.html' %}
{% block title %}
    {{ object.username }} | User
{% endblock %}
{% load render_table from django_tables2 %}
{% load static %}
{% block main %}
    <div class="container-fluid">
        <div class="row">
            <section class="col">
                <div class="card">
                    <div class="card-header p-2">
                        <ul class="nav nav-pills squest-default-active" id="tabs">
                            <li class="nav-item"><a class="nav-link" href="#details" data-toggle="tab">Details</a></li>
                            <li class="nav-item"><a class="nav-link" href="#instances" data-toggle="tab">Instances</a></li>
                            <li class="nav-item"><a class="nav-link" href="#requests" data-toggle="tab">Requests</a></li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="tab-pane" id="details">
                                <dl class="row">
                                    <div class="col-md-6">
                                        <dt class="col-sm-4">Username</dt>
                                        <dd class="col-sm-8">{{ object.get_username }}</dd>
                                    </div>
                                    <div class="col-md-6">
                                        <dt class="col-sm-4">Email</dt>
                                        <dd class="col-sm-8">{{ object.email }}</dd>
                                    </div>
                                    <div class="col-md-6">
                                        <dt class="col-sm-4">First name</dt>
                                        <dd class="col-sm-8">{{ object.get_short_name }}</dd>
                                    </div>
                                    <div class="col-md-6">
                                        <dt class="col-sm-4">Last Name</dt>
                                        <dd class="col-sm-8">{{ object.last_name }}</dd>
                                    </div>
                                    <div class="col-md-6">
                                        <dt class="col-sm-4">Last login</dt>
                                        <dd class="col-sm-8">{{ object.last_login }}</dd>
                                    </div>
                                    <div class="col-md-6">
                                        <dt class="col-sm-4">Created</dt>
                                        <dd class="col-sm-8">{{ object.date_joined }}</dd>
                                    </div>
                                    <div class="col-md-6">
                                        <dt class="col-sm-4">Is active</dt>
                                        <dd class="col-sm-8">
                                            {{ object.is_active | display_boolean }}
                                        </dd>
                                    </div>
                                    <div class="col-md-6">
                                        <dt class="col-sm-4">Is staff</dt>
                                        <dd class="col-sm-8">
                                            {{ object.is_staff | display_boolean }}
                                        </dd>
                                    </div>
                                    <div class="col-md-6">
                                        <dt class="col-sm-4">Is admin</dt>
                                        <dd class="col-sm-8">
                                            {{ object.is_superuser | display_boolean }}

                                        </dd>
                                    </div>
                                </dl>
                            </div>
                            <div class="tab-pane" id="instances">
                                {% render_table instances %}
                            </div>
                            <div class="tab-pane" id="requests">
                                {% render_table requests %}
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock %}
{% block custom_script %}
    <script>add_tab_management();</script>
{% endblock %}
