{% extends 'base.html' %}
{% load martortags %}

{% block main %}
        <div class="container-fluid">
            <div class="row">
                <div class="col-6">
                    {% if form_header %}{% include form_header %}{% endif %}
                    <div class="card">
                        <div class="card-body">
                            {% include "generics/form_edit.html" %}
                        </div>
                    </div>
                </div>
                <div class="col-6">
                   {% include "generics/doc_aside.html" %}
                </div>
            </div>
        </div>
    {% load static %}
    <script src="{% static 'admin-lte/plugins/daterangepicker/daterangepicker.js' %}"></script>
    <script src="{% static 'admin-lte/plugins/moment/moment.min.js' %}"></script>
    <script src="{% static 'admin-lte/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.js' %}"></script>
{% endblock %}
