{% extends 'base.html' %}

{% block content %}
    <!-- Main content -->
    <div class="content-wrapper">
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Supports</h1>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <section class="col-lg-9 connectedSortable ui-sortable">
                        <div class="card">
                            <div class="card-body">
                                <table id="request_list" class="table">
                                    <thead>
                                    <tr>
                                        <th>Title</th>
                                        <th>Instance</th>
                                        <th>Opened by</th>
                                        <th>Date opened</th>
                                        <th>State</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for support in supports.qs %}
                                        <tr>
                                            <td class="align-middle">
                                                <a href="{% url "service_catalog:admin_instance_support_details" instance_id=support.instance.id support_id=support.id %}">
                                                    {{ support.title }}
                                                </a>
                                            </td>
                                            <td class="align-middle">
                                                <a href="{% url "service_catalog:admin_instance_details" support.instance.id %}">
                                                    {{ support.instance.name }}
                                                </a>
                                            </td>
                                            <td class="align-middle">
                                                {{ support.user_open.username }}
                                            </td>
                                            <td class="align-middle">
                                                {{ support.date_opened }}
                                            </td>
                                            <td style="width: 10%" class="align-middle"><h4><span class="badge bg-{{ support.state |map_support_state }} btn-block">{{ support.state }}</span></h4></td>
                                        </tr>
                                    {%  endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </section>
                    <section class="col-lg-3 connectedSortable ui-sortable">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title"><i class="fas fa-search"></i> Filter</h3>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <form method="get">
                                    {{ supports.form.as_p }}
                                    <button class="btn btn-primary" type="submit">Apply</button>
                                </form>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
