<div class="col-lg col">
    <!-- small card -->
    <div class="small-box bg-info">
        <div class="inner">
            <h3>{{ total_request }}</h3>
            <p>New Request</p>
        </div>
        <div class="icon">
            <i class="fas fa-shopping-cart"></i>
        </div>
        <a href="{% url 'service_catalog:request_list' %}?state=SUBMITTED"
           class="small-box-footer">
            More info <i class="fas fa-arrow-circle-right"></i>
        </a>
    </div>
</div>
<div class="col-lg col">
    <!-- small card -->
    <div class="small-box bg-success">
        <div class="inner">
            <h3>{{ total_instance }}</h3>
            <p>Active instances</p>
        </div>
        <div class="icon">
            <i class="fas fa-th"></i>
        </div>
        <a href="{% url 'service_catalog:instance_list' %}?state=available"
           class="small-box-footer">
            More info <i class="fas fa-arrow-circle-right"></i>
        </a>
    </div>
</div>
<div class="col-lg col">
    <!-- small card -->
    <div class="small-box bg-warning">
        <div class="inner">
            <h3>{{ total_support_opened }}</h3>
            <p>Opened support</p>
        </div>
        <div class="icon">
            <i class="fas fa-medkit"></i>
        </div>
        <a href="{% url 'service_catalog:support_list' %}?state=OPENED"
           class="small-box-footer">
            More info <i class="fas fa-arrow-circle-right"></i>
        </a>
    </div>
</div>
<div class="col-lg col">
    <!-- small card -->
    <div class="small-box bg-default">
        <div class="inner">
            <h3>{{ total_user }}</h3>
            <p>Users</p>
        </div>
        <div class="icon">
            <i class="fas fa-user-plus"></i>
        </div>
        <a href="{% url 'profiles:user_list' %}" class="small-box-footer">
            More info <i class="fas fa-arrow-circle-right"></i>
        </a>
    </div>
</div>
<div class="col-lg col">
    <!-- small card -->
    <div class="small-box bg-pink">
        <div class="inner">
            <h3>{{ total_user_without_billing_groups }}</h3>
            <p>Users without billing groups</p>
        </div>
        <div class="icon">
            <i class="fas fa-users-slash"></i>
        </div>
        <a href="{% url 'profiles:user_list' %}?no_billing_groups=on" class="small-box-footer">
            More info <i class="fas fa-arrow-circle-right"></i>
        </a>
    </div>
</div>
