{% with app=record|to_app_name|lower %}
    {% with class=record|to_class_name|lower %}
        {% with perm=app|add:".change_"|add:class %}
            {% has_perm request.user perm as can_change %}
            {% if can_change %}
                {% if parent_id %}

                    <a href="{% url app|add:":"|add:class|add:"_edit" parent_id record.id %}"
                       class="btn btn-primary bg-sm"
                       title="Edit">
                        <i class="fas fa-pencil-alt"></i>
                    </a>
                {% else %}
                    <a href="{% url app|add:":"|add:class|add:"_edit" record.id %}"
                       class="btn btn-primary bg-sm"
                       title="Edit">
                        <i class="fas fa-pencil-alt"></i>
                    </a>
                {% endif %}
            {% endif %}
        {% endwith %}
    {% endwith %}
{% endwith %}
