{% extends 'base.html' %}
{% block title %}
    #{{ object.id }} | Organization
{% endblock %}
{% load render_table from django_tables2 %}
{% load static %}
{% block header_button %}
    {% include 'generics/buttons/edit_button.html' %}
    {% include 'generics/buttons/delete_button.html' %}
{% endblock %}

{% block main %}
    <div class="container-fluid">
        <div class="row">
            <section class="col-lg-3">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title"><b>{{ object.name }}</b></h3>
                    </div>
                    <div class="card-body pt-0 pb-0">
                        <ul class="list-group list-group-unbordered">
                            <li class="list-group-item">
                                <u>Description</u>
                                <p class="float-right">{{ object.description }}</p>
                            </li>
                        </ul>
                    </div>

                </div>
            </section>
            <section class="col-lg-9">
                <div class="card">
                    <div class="card-header p-2">
                        <ul class="nav nav-pills" id="tabs">
                            <li class="nav-item"><a class="nav-link active" href="#quotas" data-toggle="tab">Quotas</a></li>

                        </ul>
                    </div>
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="tab-pane active" id="quotas">
                                {% if quotas %}
                                    {% render_table quotas %}
                                {% else %}
                                    <p> Permission <b>profiles.view_quota</b> required</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock %}
{% block custom_script %}
    <script>add_tab_management();</script>
{% endblock %}
