
<a id="ansible_controller_{{ record.id }}" title="Synchronize job templates"
   data-ansible-controller-id ="{{ record.id }}"
   data-url-sync="{% url 'service_catalog:ansiblecontroller_sync' record.id %}"
   data-url-job-template="{% url 'api_job_template_list' record.id %}"
   role="button" class="btn btn-default bg-sm ajax_sync_all_job_template">
    <i class="fas fa-sync"></i>
</a>
<a href="{% url 'service_catalog:ansiblecontroller_edit' record.id %}" class="btn btn-primary bg-sm" title="Edit">
    <i class="fas fa-pencil-alt"></i>
</a>
<a href="{% url 'service_catalog:ansiblecontroller_delete' record.id %}" class="btn btn-danger bg-sm" title="Delete">
    <i class="fas fa-trash"></i>
</a>
