<a title="Synchronize {{ record.name }} from Ansible controller/AWX"
   data-ansible-controller-id="{{ record.ansible_controller.id }}"
   data-job-template-id="{{ record.id }}"
   data-url-sync="{% url 'service_catalog:jobtemplate_sync' record.ansible_controller.id record.id %}"
   data-url-job-template-detail="{% url 'api_job_template_details' record.ansible_controller.id record.id %}"
   role="button" class="btn btn-default bg-sm ajax_sync_job_template">
    <i class="fas fa-sync"></i>
</a>
<a href="{{ record.remote_url }}"
   class="btn btn-default bg-sm">
    <i class="fas fa-external-link-square-alt"></i>
</a>
<a href="{% url 'service_catalog:jobtemplate_delete' ansible_controller_id=record.ansible_controller.id pk=record.id %}"
   class="btn btn-danger bg-sm">
    <i class="fas fa-trash"></i>
</a>
