{% extends 'base.html' %}

{% block main %}
    <div class="container-fluid">
        {% for announcement in announcements %}
            <div class="row">
                <div class="col-lg col">
                    <div class="alert alert-{{ announcement.type|lower }} alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h4><i class="icon {{ announcement.type|map_color_to_icon }}"></i> {{ announcement.title }}</h4>
                        {{ announcement.message | safe }}
                    </div>
                </div>
            </div>
        {% endfor %}
        <div class="row">
            {% if request.user.is_superuser %}
                {% include 'service_catalog/admin/dashboard.html' %}
            {% else %}
                {% include 'service_catalog/customer/dashboard.html' %}
            {% endif %}
        </div>
    </div>
{% endblock %}
