{% extends 'base.html' %}

{% block main %}
    <div class="container-fluid">
        {% for announcement in announcements %}
            <div class="row">
                <div class="col-lg col">
                    <div class="alert alert-{{ announcement.type|lower }} alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h4><i class="icon {{ announcement.type|map_color_to_icon }}"></i> {{ announcement.title }}</h4>
                        {{ announcement.message | safe }}
                    </div>
                </div>
            </div>
        {% endfor %}
        <div class="row">
            {% if request.user.is_superuser %}
                {% include 'service_catalog/admin/dashboard.html' %}
            {% else %}
                {% include 'service_catalog/customer/dashboard.html' %}
            {% endif %}
        </div>
        {% if request.user.is_superuser %}
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">
                                <strong>Metrics</strong>
                            </h3>
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row justify-content-around">
                                {% for _,pie_chart in pie_charts.items %}
                                    <div class="col-md-3 text-center">
                                        <div style="height:25vh">
                                            <canvas id="{{ pie_chart.id }}"></canvas>
                                        </div>
                                        <div class="knob-label">{{ pie_chart.title }}</div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% for resource_pool,rp_list in chart_resource_pool.items %}
                <div class="row justify-content-around">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">
                                    <strong>Resource consumption on {{ resource_pool }} by Billing Groups</strong>
                                </h3>

                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                        <i class="fas fa-minus"></i>
                                    </button>
                                </div>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <div class="row justify-content-around">
                                    {% for _,rp_attribute in rp_list.items %}
                                        <div class="col-md-3 text-center">
                                            <div style="">
                                                <canvas id="{{ rp_attribute.id }}"></canvas>
                                            </div>
                                            <div class="knob-label">{{ rp_attribute.title }}</div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
    {% if request.user.is_superuser %}
        {% load static %}
        <script src="{% static 'squest/js/dashboards.js' %}"></script>
        <script>
            window.onload = function () {
                {% for _,pie_chart in pie_charts.items %}
                    createPieChart(data ={{ pie_chart.data |safe }}, id = "{{ pie_chart.id }}")
                {% endfor %}

                {% for resource_pool,rp_list in chart_resource_pool.items %}
                    {% for _,rp_attribute in rp_list.items %}
                        createPieChart(data ={{ rp_attribute.data |safe }}, id = "{{ rp_attribute.id }}")
                    {% endfor %}
                {% endfor %}

            }
        </script>
        <script src="{% static '/admin-lte/plugins/jquery-knob/jquery.knob.min.js' %}"></script>
    {% endif %}

{% endblock %}
