{% extends 'base.html' %}
{% load render_table from django_tables2 %}
{% load static %}
{% block header_button %}
    {% if request.user.is_superuser %}
        <div class="float-right">
            <a href="{% url 'service_catalog:instance_edit' instance.id %}"
               class="btn btn-primary">
                <i class="fas fa-pencil-alt"></i>
            </a>
            <a href="{% url 'service_catalog:instance_delete' instance.id %}"
               class="btn btn-danger">
                <i class="fas fa-trash"></i>
            </a>
        </div>
    {% endif %}
{% endblock %}
{% block custom_links %}
    <div class="float-right">
        {%  load custom_links %}
        <div class="btn-toolbar">
        {%  custom_links request.user instance %}
        </div>
    </div>
{% endblock %}
{% block main %}
    {% load guardian_tags %}
    {% get_obj_perms request.user for instance as "instance_perms" %}
    <div class="container-fluid">
        <div class="row">
            <section class="col-lg-3">
                <div class="card card-{{ instance.state |map_instance_state }}">
                    <div class="card-header">
                        <h3 class="card-title">Details</h3>
                    </div>
                    <div class="card-body">
                        <div class="text-center">
                            <img class="card-img-top" src="{% if instance.service.image %}{{ instance.service.image.url }}{% else %}{% static '/squest/img/no_image.png' %}{% endif %}"
                                 alt="Service image">
                        </div>
                        <ul class="list-group list-group-unbordered mb-3">
                            <li class="list-group-item">
                                <b>Name</b> <a class="float-right">{{ instance.name }}</a>
                            </li>
                            <li class="list-group-item">
                                <b>Service</b> {% if request.user.is_superuser %}<a href="{% url 'service_catalog:edit_service' instance.service.id %}" class="float-right">{{ instance.service.name }}</a>{% else %}<a class="float-right">{{ instance.service.name }}</a>{% endif %}
                            </li>
                            <li class="list-group-item">
                                <b>State</b> <strong
                                    class="float-right text-{{ instance.state |map_instance_state }}">{{ instance.state }}</strong>
                            </li>
                            <li class="list-group-item">
                                <b>Billing group</b> {% if instance.billing_group %}<a href="{% url 'profiles:billing_group_list' %}?id={{ instance.billing_group.id }}#quota{{ instance.billing_group.id }}" class="float-right">{{ instance.billing_group.name }}</a>{% endif %}
                            </li>
                            <li class="list-group-item">
                                <b>SPOC</b> <a href="mailto:{{ instance.spoc.email }}" class="float-right">{{ instance.spoc.username }}</a>
                            </li>
                            {% if request.user.is_superuser %}
                                <li class="list-group-item">
                                    <b>Resources</b>
                                    {% for resource in instance.resources.all %}
                                        <a class="float-right" href="{% url 'resource_tracker:resource_group_resource_edit' resource.resource_group.id resource.id %}">
                                            {{ resource.name }}
                                        </a> <br>
                                    {% endfor %}
                                </li>
                            {% endif %}
                            <li class="list-group-item border-bottom-0">
                                <b>Docs</b>
                                {% for doc in instance.docs %}
                                    <a class="float-right" href="{% url 'service_catalog:doc_show' doc.id %}">
                                        {{ doc.title }}
                                    </a> <br>
                                {% endfor %}
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
            <section class="col-lg-9">
                <div class="card">
                    <div class="card-header p-2">
                        <ul class="nav nav-pills">
                            <li class="nav-item"><a class="nav-link active" href="#operations" data-toggle="tab">Operations</a>
                            </li>
                            <li class="nav-item"><a class="nav-link" href="#support" data-toggle="tab">Support</a></li>
                            {% if request.user.is_superuser %}<li class="nav-item"><a class="nav-link" href="#spec" data-toggle="tab">Admin spec</a></li>{% endif %}
                            <li class="nav-item"><a class="nav-link" href="#user-spec" data-toggle="tab">Spec</a></li>
                            <li class="nav-item"><a class="nav-link" href="#requests" data-toggle="tab">Requests</a>
                            <li class="nav-item"><a class="nav-link" href="#users" data-toggle="tab">Users</a>
                            <li class="nav-item"><a class="nav-link" href="#teams" data-toggle="tab">Teams</a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="active tab-pane" id="operations">
                                {% render_table operations_table %}
                            </div>
                            <div class="tab-pane" id="support">
                                {%  if instance.service.external_support_url is not None and instance.service.external_support_url != '' %}
                                    <p class="text-muted">Supports for this service are redirected to an external tool</p>
                                    <a class="btn btn-success" href="{% url 'service_catalog:instance_new_support' instance.id %}">
                                        <i class="fas fa-link"></i> Open new support
                                    </a>
                                {%  else %}
                                    <a href="{% url 'service_catalog:instance_new_support' instance.id %}"
                                       class="float-right btn btn-success">
                                        <i class="fas fa-plus"></i> Open new support
                                    </a>
                                    {% render_table supports_table %}
                                {% endif %}
                            </div>
                            {% if request.user.is_superuser %}
                                <div class="tab-pane" id="spec">
                                    <pre><code class="language-json">{{ instance.spec | pretty_json }}</code></pre>
                                </div>
                            {% endif %}
                            <div class="tab-pane" id="user-spec">
                                <pre><code class="language-json">{{ instance.user_spec | pretty_json }}</code></pre>
                            </div>
                            <div class="tab-pane" id="requests">
                                {% render_table requests_table %}
                            </div>
                            <div class="tab-pane" id="users">
                                <a class="btn btn-info float-sm-right{% if "change_instance" not in instance_perms %} disabled{% endif %}"
                                   href="{% url "service_catalog:user_in_instance_update" instance.id %}">
                                    <i class="fas fa-user-edit"></i> Manage users role
                                </a>
                                {% with user_roles as roles %}
                                    {% render_table users_table %}
                                {% endwith %}
                            </div>
                            <div class="tab-pane" id="teams">
                                <a class="btn btn-info float-sm-right{% if "change_instance" not in instance_perms %} disabled{% endif %}"
                                   href="{% url "service_catalog:team_in_instance_update" instance.id %}">
                                    <i class="fas fa-user-edit"></i> Manage team role
                                </a>
                                {% with team_roles as roles %}
                                    {% render_table teams_table %}
                                {% endwith %}
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock %}
{% block custom_script %}
    <script>add_tab_management();</script>
{% endblock %}
