{% extends 'base.html' %}
{% block title %}
    #{{ instance.id }} | Support
{% endblock %}
{% load static %}
{% block content %}
    {% has_perm request.user "service_catalog.add_supportmessage" instance as can_comment_support %}
    {% has_perm request.user "service_catalog.close_support" instance as can_close_support %}
    {% has_perm request.user "service_catalog.change_support" instance as can_change_support %}
    <!-- Main content -->
    <div class="content-wrapper">
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        {% include "generics/breadcrumbs.html" %}
                    </div>
                    <div class="col-sm-6">
                        <span title="state"
                              class="float-sm-right badge bg-{{ support.state |map_support_state }} p-1 mr-2">{{ support.get_state_display }}</span>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12 h-100">
                        <div class="card">
                            <div class="card-body">
                                {% for message in messages %}
                                    <div class="post">
                                        <div class="user-block">
                                            <img class="img-circle img-bordered-sm" src="
                                            {% if message.sender.is_staff %}{% static '/squest/img/admin.png' %}{% else %}{% static '/squest/img/user.png' %}{% endif %}"
                                                 alt="user image">
                                            <span class="username">
                                                <a href="#">{{ message.sender.username }}</a>
                                                {% if can_comment_support and message.sender == request.user %}
                                                    <a title="Edit"
                                                       class="btn btn-primary float-right"
                                                       href="{% url "service_catalog:supportmessage_edit" message.support.instance.id message.support.id message.id %}">
                                                        <i class="fas fa-pencil-alt"></i>
                                                    </a>
                                                {% endif %}
                                            </span>
                                            <span class="description">{{ message.last_update_date |squest_date_format }}</span>
                                        </div>
                                        <!-- /.user-block -->
                                        <p>
                                            {{ message.content|markdown }}
                                        </p>
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="card-footer">
                                {% if can_comment_support %}
                                    <form action="{% url 'service_catalog:support_details' instance_id=instance.id pk=support.id %}"
                                          method="post" _lpchecked="1">{% csrf_token %}
                                        {{ form.as_p }}
                                        <div class="form-group">
                                            <div class="col-sm-offset-2 col-sm-10">
                                                <!-- validate button -->
                                                <button class="btn btn-primary"
                                                        type="submit">
                                                    <i class="fas fa-comment"></i> Comment
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                {% endif %}
                                {% if support.state == "OPENED" %}
                                    <a href="{% url 'service_catalog:support_close' instance_id=instance.id pk=support.id %}"
                                       class="btn btn-danger{% if not can_close_support %} disabled{% endif %}">
                                        <i class="fas fa-times-circle"></i> Close
                                    </a>
                                {% endif %}
                                {% if support.state == "CLOSED" %}
                                    <a href="{% url 'service_catalog:support_reopen' instance_id=instance.id pk=support.id %}"
                                       class="btn btn-success{% if not can_change_support %} disabled{% endif %}">
                                        <i class="fas fa-undo"></i> Re-open
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- /.container-fluid -->

        </div>
    </div>
{% endblock %}
