{% extends 'base.html' %}
{% block title %}
    #{{ object.id }} | Organization
{% endblock %}
{% load render_table from django_tables2 %}
{% load static %}
{% block header_button %}
    {% include 'generics/buttons/edit_button.html' %}
    {% include 'generics/buttons/delete_button.html' %}
{% endblock %}

{% block main %}
    <div class="container-fluid">
        <div class="row">
            <section class="col-lg-3">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title"><b>{{ object.name }}</b></h3>
                    </div>
                    <div class="card-body pt-0 pb-0">
                        <ul class="list-group list-group-unbordered">
                            <li class="list-group-item">
                                <b>Description</b>
                                <p class="float-right">{{ object.description }}</p>
                            </li>
                            <li class="list-group-item">
                                <b>Services</b>
                                <span class="float-right">
                                    {% for service in object.services.distinct %}
                                        <span class="badge bg-primary">{{ service.name }}</span>
                                    {% endfor %}
                                </span>
                            </li>
                        </ul>
                    </div>

                </div>
            </section>
            <section class="col-lg-9">
                <div class="card">
                    <div class="card-header p-2">
                        <ul class="nav nav-pills squest-default-active" id="tabs">
                            {% if quotas %}
                                <li class="nav-item">
                                    <a class="nav-link" href="#quotas" data-toggle="tab">Quotas</a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="tab-pane" id="quotas">
                                {% if quotas %}
                                    {% render_table quotas %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock %}
{% block custom_script %}
    <script>add_tab_management();</script>
{% endblock %}
