{% extends 'base.html' %}
{% block title %}
    Graph
{% endblock %}
{% block content %}
    <!-- Main content -->
    <div class="content-wrapper">
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Resource Tracker Graph</h1>
                    </div>
                    <div class="col-sm-6">
                        <div class="float-sm-right">
                            <a class="btn btn-success" href="{% url 'resource_tracker_v2:resourcegroup_create' %}">
                                <i class="fas fa-plus"></i> New resource group
                            </a>
                            <a class="btn btn-default" data-widget="control-sidebar">
                                <i class="fas fa-sliders-h"></i>
                            </a>
                        </div>

                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>
        <div class="content">
            <div class="container-fluid overflow-scroll">
                {% if display_graph %}
                    {{ svg }}
                {% else %}
                    Nothing to display
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block right_aside %}
    <aside class="control-sidebar control-sidebar-{{ request.user.profile.theme }}"
           style="display: block; width: 50%">
        <div class="row">
            <a class="nav-link float-left" data-widget="control-sidebar">
                <i class="fas fa-chevron-right"></i>
            </a>
        </div>
        <div class="p-3 control-sidebar-content">
            <div class="row pb-3">
                <h3 class="card-title"><i class="fas fa-search"></i> Filter</h3>
            </div>
            {% include 'generics/form_edit.html' with form=resource_graph.form action='apply' method='get' %}

        </div>
    </aside>
{% endblock %}
