# Kubernetes
k8s_cluster_fqdn: "k8s.domain.local"
squest_namespace: "squest"
k8s_storage_class: "thin"
k8s_ingress_class: "nginx"

# DATABASE
squest_db:
  database: "squest_db"
  user: "squest_user"
  password: "squest_password"
  root_password: "p@ssw0rd"

# PHPMYADMIN
squest_phpmyadmin:
  enabled: true
  ingress:
    enabled: true
    host: "phpmyadmin.{{ k8s_cluster_fqdn }}"
  env:
    TZ: Europe/Paris
    PMA_HOST: mariadb
    PMA_ARBITRARY: "1"
    MYSQL_USERNAME: root
    MYSQL_ROOT_PASSWORD: "{{ squest_db.root_password }}"

# RABBITMQ
squest_rabbitmq:
  user: rabbitmq
  password: rabbitmq

squest_redis:
  password: redis_secret_password

# Django
squest_django:
  image: "quay.io/hewlettpackardenterprise/squest:latest"
  ingress:  # default ingress based on nginx controller
    enabled: true
    host: "squest.{{ k8s_cluster_fqdn }}"
#  ldap:  # extra ldap config
#    ldap_config_file: "{{ lookup('file', playbook_dir + '/../Squest/ldap_config.py') }}"
  env:  # squest settings
    TZ: "Europe/Paris"
    DB_HOST: "mariadb"
    DB_PORT: "3306"
    REDIS_CACHE_HOST: "redis-standalone"
    DEBUG: "true"
    DB_USER: "{{ squest_db.user }}"
    DB_PASSWORD: "{{ squest_db.password }}"
    WAIT_HOSTS: "mariadb:3306,rabbitmq:5672"
  backup: # backup squest db and media to a PVC
    enabled: false
    crontab: "0 1 * * *"
  externalize_backup_via_rsync:  # rsync backup files into and external server
    enabled: false
    # crontab: "30 1 * * *"
    # private_ssh_key: "{{ lookup('file', ssh_private_key_path) + '\n' }}"
    # ssh_user: "squest_k8s_dev"
    # ssh_server: "remote.server.ssh.net"
    # remote_path: "/backup/squest_k8s_dev/"
