{% extends 'base.html' %}

{% block content %}
    <div class="content-wrapper" style="min-height: 278px;">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0">Catalog</h1>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->
        <!-- Main content -->
        <div class="content">
            <div class="container-fluid">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Operation on service <strong>{{ service.name }}</strong></h3>
                        <div class="card-tools">
                            <a class="btn btn-success bg-sm" href="{% url 'service_catalog:add_service_operation' service.id %}">
                                <i class="fas fa-plus"></i>
                            </a>
                        </div>
                    </div>
                    <div class="card-body">
                        <table id="job_template_list" class="table">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Type</th>
                                <th>Job template</th>
                                <th>Auto accept</th>
                                <th>Auto process</th>
                                <th>Process timeout</th>
                                <th>Survey</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {%  for operation in operations %}
                                <tr>
                                    <td class="align-middle">{{ operation.name }}</td>
                                    <td class="align-middle">
                                        {% if  operation.type == "DELETE" %}
                                            <span class="badge bg-danger">{{ operation.type }}</span>
                                        {% endif %}
                                        {% if  operation.type == "CREATE" %}
                                            <span class="badge bg-success">{{ operation.type }}</span>
                                        {% endif %}
                                        {% if  operation.type == "UPDATE" %}
                                            <span class="badge bg-info">{{ operation.type }}</span>
                                        {% endif %}
                                    </td>
                                    <td class="align-middle">{{ operation.job_template.name }}</td>
                                    <td class="align-middle">
                                        {%  if operation.auto_accept %}
                                            <i class="fas fa-circle text-success"></i>
                                        {%  else %}
                                            <i class="fas fa-circle text-secondary"></i>
                                        {%  endif %}
                                    </td>
                                    <td class="align-middle">
                                        {%  if operation.auto_process %}
                                            <i class="fas fa-circle text-success"></i>
                                        {%  else %}
                                            <i class="fas fa-circle text-secondary"></i>
                                        {%  endif %}
                                    </td>
                                    <td class="align-middle">
                                        {{ operation.process_timeout_second }}
                                    </td>
                                    <td class="align-middle">
                                        <a href="{% url 'service_catalog:service_operation_edit_survey' service_id=service.id operation_id=operation.id %}" class="btn btn-primary bg-sm">
                                            <i class="fas fa-clipboard-list"></i>
                                        </a>
                                    </td>
                                    <td class="align-middle">
                                        <a href="{% url 'service_catalog:edit_service_operation' service_id=service.id operation_id=operation.id %}" class="btn btn-default bg-sm">
                                            <i class="fas fa-edit"></i>
                                        </a>
                                        {% if  operation.type != "CREATE" %}
                                            <a href="{% url 'service_catalog:delete_service_operation' service_id=service.id operation_id=operation.id %}" class="btn btn-danger bg-sm">
                                                <i class="fas fa-trash"></i>
                                            </a>
                                        {% else %}
                                            <a href="" class="btn btn-danger bg-sm disabled">
                                                <i class="fas fa-trash"></i>
                                            </a>
                                        {% endif %}

                                    </td>
                                </tr>
                            {%  endfor %}
                            </tbody>
                        </table>
                    </div>
                </div><!-- end container fluid -->
            </div>
        </div>
    </div>
{% endblock %}
